<a href="https://colab.research.google.com/github/statrliu/data_bootcamp_part1/blob/main/homework_3_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Q1

Create a DataFrame containing information about students, including their names, ages, and grades.

Example output:
```
      Name  Age Grade
0    Alice   20     A
1      Bob   22     B
2  Charlie   21     C
3    David   23     B
```

In [ ]:
import pandas as pd

# Create lists of student data
student_data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
                'Age': [20, 22, 21, 23],
                'Grade': ['A', 'B', 'C', 'B']}

# Create a DataFrame from lists
df_students = pd.DataFrame(student_data)
print(df_students)

      Name  Age Grade
0    Alice   20     A
1      Bob   22     B
2  Charlie   21     C
3    David   23     B

# Q2

You have a DataFrame (`df_mixed`) containing a column of numerical values, but some values are represented as strings. You want to convert the column to float, and for values that cannot be converted, replace them with a specific placeholder value, such as -1.

```
data = {'Values': [100, 'yellow', 'apple', '201', 78.5]}

df_mixed = pd.DataFrame(data)
```

In [ ]:
data = {'Values': [100, 'yellow', 'apple', '201', 78.5]}

df_mixed = pd.DataFrame(data)
# Define a placeholder value for non-numeric values
placeholder_value = -1

# Change the data type of the 'Values' column to float and replace non-numeric values
df_mixed['Values'] = pd.to_numeric(df_mixed['Values'], errors='coerce').fillna(placeholder_value)
print(df_mixed)

   Values
0   100.0
1    -1.0
2    -1.0
3   201.0
4    78.5

# Q3

You have a DataFrame (`df_students`) containing student information, and you want to add a new column 'Grade' that contains the corresponding grade level for each student. Assume that the grade levels are 'Freshman', 'Sophomore', 'Junior', and 'Senior'.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)
```

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)

# Add a new 'Grade' column to the DataFrame
grades = ['Freshman', 'Sophomore', 'Junior', 'Senior']
df_students['Grade'] = grades

print(df_students)

      Name  Age      Grade
0    Alice   20   Freshman
1      Bob   22  Sophomore
2  Charlie   21     Junior
3    David   23     Senior

# Q4

You have a DataFrame (`df_sales`) containing sales data with a column 'Tax' that you want to drop because it's no longer needed.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200],
        'Tax': [40, 25, 15, 10]}

df_sales = pd.DataFrame(data)
```

In [ ]:
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200],
        'Tax': [40, 25, 15, 10]}

df_sales = pd.DataFrame(data)

# Drop the 'Tax' column from the DataFrame
df_sales = df_sales.drop(columns='Tax')

print(df_sales)

   Product  Quantity Sold  Price
0   Laptop            100    800
1    Phone            200    500
2   Tablet            150    300
3  Monitor             50    200

# Q5

You have a DataFrame (`df_students`) with student information, and you want to drop all students who are older than 22 years old.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)
```

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)

# Drop students older than 22 years old
df_students = df_students[df_students['Age'] <= 22]

print(df_students)

      Name  Age
0    Alice   20
1      Bob   22
2  Charlie   21

# Q6

You have a DataFrame (`df_students`) containing student information, and you want to create a new DataFrame that includes only the first two rows of student data.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)
```

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)

# Subset the DataFrame to include only the first two rows
df_subset = df_students.iloc[:2, :]

print(df_subset)

    Name  Age
0  Alice   20
1    Bob   22

# Q7

You have a DataFrame (`df_employees`) containing employee information, and you want to create a new DataFrame that includes only the employees with a salary greater than $60,000.

```
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, 60000, 75000, 70000]}

df_employees = pd.DataFrame(data)
```

In [ ]:
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, 60000, 75000, 70000]}

df_employees = pd.DataFrame(data)

# Filter the DataFrame to include only employees with salary > $60,000
df_filtered = df_employees[df_employees['Salary'] > 60000]

print(df_filtered)

   EmployeeID     Name  Salary
2         103  Charlie   75000
3         104    David   70000

# Q8

You have a DataFrame (`df_products`) with product information, and you want to create a new DataFrame that includes only the products with a price greater than $300 and a quantity sold greater than 100.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)
```

In [ ]:
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)

# Filter the DataFrame to include products meeting multiple conditions
df_filtered = df_products[(df_products['Price'] > 300) & (df_products['Quantity Sold'] > 100)]

print(df_filtered)

  Product  Quantity Sold  Price
1   Phone            200    500

# Q9

You have a DataFrame (`df_products`) containing product information, and you want to filter and create a new DataFrame that includes only the products that are either 'Laptop' or 'Tablet.'

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)
```

In [ ]:
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)

# Filter rows where the 'Product' column is 'Laptop' or 'Tablet'
filtered_products = df_products[df_products['Product'].isin(['Laptop', 'Tablet'])]

print(filtered_products)

  Product  Quantity Sold  Price
0  Laptop            100    800
2  Tablet            150    300

# Q10

You have a DataFrame (`df_products`) containing product information with columns 'Product_Name', 'Category', 'Price_USD', 'In_Stock', and 'Supplier'. Use the filter method with like to create a new DataFrame containing only columns containing 'Price' in their names ('Price_USD').

```
data = {'Product_Name': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics'],
        'Price_USD': [800, 500, 300, 200],
        'In_Stock': [True, True, False, True],
        'Supplier': ['Supplier1', 'Supplier2', 'Supplier3', 'Supplier4']}

df_products = pd.DataFrame(data)
```

In [ ]:
data = {'Product_Name': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics'],
        'Price_USD': [800, 500, 300, 200],
        'In_Stock': [True, True, False, True],
        'Supplier': ['Supplier1', 'Supplier2', 'Supplier3', 'Supplier4']}

df_products = pd.DataFrame(data)

# Use the 'filter' method with 'like' to select columns
selected_columns = df_products.filter(like='Price')

print(selected_columns)

   Price_USD
0        800
1        500
2        300
3        200

# Q11

You have a DataFrame (`df_sales`) containing sales data with columns 'Date', 'Product', and 'Revenue.' Sort the DataFrame first by 'Product' in ascending order and then by 'Revenue' in descending order within each product group.

```
data = {'Date': ['2023-01-15', '2023-01-16', '2023-01-17', '2023-01-18'],
        'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop'],
        'Revenue': [1200, 800, 450, 1000]}

df_sales = pd.DataFrame(data)
```

In [ ]:
data = {'Date': ['2023-01-15', '2023-01-16', '2023-01-17', '2023-01-18'],
        'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop'],
        'Revenue': [1200, 800, 450, 1000]}

df_sales = pd.DataFrame(data)

# Sort the DataFrame by 'Product' in ascending order, then by 'Revenue' in descending order
sorted_sales = df_sales.sort_values(by=['Product', 'Revenue'], ascending=[True, False])

print(sorted_sales)

         Date Product  Revenue
0  2023-01-15  Laptop     1200
3  2023-01-18  Laptop     1000
1  2023-01-16   Phone      800
2  2023-01-17  Tablet      450

# Q12

You have a DataFrame (`df_cities`) with a custom index and columns 'City' and 'Population.' Sort the DataFrame by the index in ascending order to get the data sorted by city names.

```
data = {'City': ['New York', 'Los Angeles', 'Chicago'],
        'Population': [8398748, 3990456, 2705994]}

index = ['NY', 'CA', 'IL']

df_cities = pd.DataFrame(data, index=index)
```

In [ ]:
data = {'City': ['New York', 'Los Angeles', 'Chicago'],
        'Population': [8398748, 3990456, 2705994]}

index = ['NY', 'CA', 'IL']

df_cities = pd.DataFrame(data, index=index)

# Sort the DataFrame by index in ascending order
sorted_cities = df_cities.sort_index()

print(sorted_cities)

           City  Population
CA  Los Angeles     3990456
IL      Chicago     2705994
NY     New York     8398748

# Q13

You have a DataFrame (`df_sales`) containing sales data with columns 'OrderID', 'Product', and 'Quantity.' Find and display the duplicated rows in the DataFrame based on all columns.

```
data = {'OrderID': [101, 102, 101, 103, 102],
        'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone'],
        'Quantity': [2, 3, 2, 1, 4]}

df_sales = pd.DataFrame(data)
```

In [ ]:
data = {'OrderID': [101, 102, 101, 103, 102],
        'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone'],
        'Quantity': [2, 3, 2, 1, 4]}

df_sales = pd.DataFrame(data)

# Find and display duplicated rows based on all columns
duplicates = df_sales[df_sales.duplicated()]
print(duplicates)

   OrderID Product  Quantity
2      101  Laptop         2

# Q14

You have a DataFrame (`df_employees`) with employee information containing columns 'EmployeeID', 'Name', and 'Email.' Find and display the duplicated rows based on the 'Email' column only.

```
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Email': ['alice@example.com', 'bob@example.com', 'alice@example.com', 'david@example.com']}

df_employees = pd.DataFrame(data)
```

In [ ]:
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Email': ['alice@example.com', 'bob@example.com', 'alice@example.com', 'david@example.com']}

df_employees = pd.DataFrame(data)

# Find and display duplicated rows based on the 'Email' column
duplicates = df_employees[df_employees.duplicated(subset='Email')]
print(duplicates)

   EmployeeID     Name              Email
2         103  Charlie  alice@example.com

# Q15

You have a DataFrame (`df_products`) containing product information with columns 'ProductID', 'Name', and 'Category.' Drop all duplicated rows in the DataFrame, keeping the first occurrence.

```
data = {'ProductID': [101, 102, 101, 103, 102],
        'Name': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics']}

df_products = pd.DataFrame(data)
```

In [ ]:
data = {'ProductID': [101, 102, 101, 103, 102],
        'Name': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics']}

df_products = pd.DataFrame(data)

# Drop all duplicated rows, keeping the first occurrence
df_products = df_products.drop_duplicates(keep='first')

print(df_products)

   ProductID    Name     Category
0        101  Laptop  Electronics
1        102   Phone  Electronics
3        103  Tablet  Electronics

# Q16

You have a DataFrame (`df_employees`) containing employee information with columns 'EmployeeID', 'Name', 'Salary', and 'Department.' Find and display the rows that contain missing values.

```
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, None, 75000, 70000],
        'Department': ['HR', 'Finance', None, 'IT']}

df_employees = pd.DataFrame(data)
```

In [ ]:
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, None, 75000, 70000],
        'Department': ['HR', 'Finance', None, 'IT']}

df_employees = pd.DataFrame(data)

# Find and display rows with missing values
missing_values = df_employees[df_employees.isnull().any(axis=1)]
print(missing_values)

   EmployeeID     Name   Salary Department
1         102      Bob      NaN    Finance
2         103  Charlie  75000.0       None

# Q17

You have a DataFrame (`df_feedback`) containing customer feedback data with columns 'Name', 'Feedback', 'Rating', and 'Comments.' Drop the columns that contain missing values from the DataFrame.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Feedback': ['Positive', None, 'Positive', 'Negative'],
        'Rating': [5, 4, None, 2],
        'Comments': ['Great service', 'No comments', None, 'Poor experience']}

df_feedback = pd.DataFrame(data)
```

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Feedback': ['Positive', None, 'Positive', 'Negative'],
        'Rating': [5, 4, None, 2],
        'Comments': ['Great service', 'No comments', None, 'Poor experience']}

df_feedback = pd.DataFrame(data)

# Drop columns with missing values from the DataFrame
df_feedback = df_feedback.dropna(axis=1)

print(df_feedback)

      Name
0    Alice
1      Bob
2  Charlie
3    David

# Q18

You have a DataFrame (`df_sales`) containing sales data with columns 'Quantity Sold' and 'Price.' Calculate the total revenue for each product by multiplying the 'Quantity Sold' by the 'Price' and add it as a new column 'Revenue' to the DataFrame.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_sales = pd.DataFrame(data)
```

In [ ]:
# Create a DataFrame with sales data
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_sales = pd.DataFrame(data)

# Calculate 'Revenue' by multiplying 'Quantity Sold' and 'Price'
df_sales['Revenue'] = df_sales['Quantity Sold'] * df_sales['Price']

print(df_sales)

   Product  Quantity Sold  Price  Revenue
0   Laptop            100    800    80000
1    Phone            200    500   100000
2   Tablet            150    300    45000
3  Monitor             50    200    10000

# Q19

You have a DataFrame (`df_products`) with product information containing columns 'Stock' and 'Price.' Filter and create a new DataFrame that includes only the products that are both in stock (Stock > 0) and priced below $400 (Price < 400).

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Stock': [10, 20, 0, 5],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)
```

In [ ]:
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Stock': [10, 20, 0, 5],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)

# Filter and create a new DataFrame for in-stock products with price < $400
filtered_products = df_products[(df_products['Stock'] > 0) & (df_products['Price'] < 400)]

print(filtered_products)

   Product  Stock  Price
3  Monitor      5    200

# Q20

You have a DataFrame (`df_sales`) containing sales data with columns 'Product' and 'Revenue.' Calculate the total revenue and average revenue for each product group using the agg() method.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)
```

In [ ]:
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)

# Calculate total revenue and average revenue for each product group
agg_results = df_sales.groupby('Product')['Revenue'].agg(['sum', 'mean'])

print(agg_results)

          sum    mean
Product
Laptop   2200  1100.0
Phone    1500   750.0
Tablet    450   450.0

# Q21

You have a DataFrame (`df_employees`) containing employee information with columns 'Name' and 'Salary.' Apply a function that increases the salary of each employee by 10% using the apply() method.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, 60000, 75000, 70000]}

df_employees = pd.DataFrame(data)
```

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, 60000, 75000, 70000]}

df_employees = pd.DataFrame(data)

# Define a function to increase salary by 10%
def increase_salary(salary):
    return salary * 1.10

# Apply the function to increase salary for each employee
df_employees['Salary'] = df_employees['Salary'].apply(increase_salary)

print(df_employees)

      Name   Salary
0    Alice  55000.0
1      Bob  66000.0
2  Charlie  82500.0
3    David  77000.0

# Q22

You have a DataFrame (`df_feedback`) containing customer feedback data with columns 'Feedback' and 'Rating.' Apply a function that converts the text in the 'Feedback' column to uppercase and doubles the 'Rating' using the applymap() method.

```
data = {'Feedback': ['Positive', 'Neutral', 'Negative'],
        'Rating': [5, 4, 2]}

df_feedback = pd.DataFrame(data)
```

In [ ]:
data = {'Feedback': ['Positive', 'Neutral', 'Negative'],
        'Rating': [5, 4, 2]}

df_feedback = pd.DataFrame(data)

# Define a function to convert text to uppercase and double the rating
def process_feedback(cell):
    if isinstance(cell, str):
        return cell.upper()
    elif isinstance(cell, int):
        return cell * 2
    else:
        return cell

# Apply the function using applymap() to both columns
df_feedback = df_feedback.applymap(process_feedback)

print(df_feedback)

   Feedback  Rating
0  POSITIVE      10
1   NEUTRAL       8
2  NEGATIVE       4

# Q23

You have a DataFrame (`df_sales`) containing sales data with columns 'Product' and 'Revenue.' Group the data by 'Product' and calculate the total revenue for each product group.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)
```

In [ ]:
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)

# Group the data by 'Product' and calculate total revenue
grouped_sales = df_sales.groupby('Product')['Revenue'].sum().reset_index()

print(grouped_sales)

  Product  Revenue
0  Laptop     2200
1   Phone     1500
2  Tablet      450

# Q24

You have a DataFrame (`df_feedback`) containing customer feedback data with columns 'Feedback' and 'Rating.' Group the data by 'Feedback' and count the number of occurrences of each feedback type.

```
data = {'Feedback': ['Positive', 'Neutral', 'Negative', 'Positive', 'Negative'],
        'Rating': [5, 4, 2, 5, 1]}

df_feedback = pd.DataFrame(data)
```

In [ ]:
data = {'Feedback': ['Positive', 'Neutral', 'Negative', 'Positive', 'Negative'],
        'Rating': [5, 4, 2, 5, 1]}

df_feedback = pd.DataFrame(data)

# Group the data by 'Feedback' and count occurrences
feedback_counts = df_feedback.groupby('Feedback').size().reset_index(name='Count')

print(feedback_counts)

   Feedback  Count
0  Negative      2
1   Neutral      1
2  Positive      2

# Q25

You have a DataFrame (`df_sales`) containing sales data with columns 'Product', 'Category', and 'Revenue.' Group the data by both 'Product' and 'Category' and calculate the total revenue for each product-category combination.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)
```

In [ ]:
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)

# Group the data by both 'Product' and 'Category' and calculate total revenue
grouped_sales = df_sales.groupby(['Product', 'Category'])['Revenue'].sum().reset_index()

print(grouped_sales)

  Product     Category  Revenue
0  Laptop  Electronics     2200
1   Phone  Electronics     1500
2  Tablet  Electronics      450

# Q26

You have two DataFrames, `df1` and `df2`, both containing student information with columns 'Name' and 'Age.' Concatenate the two DataFrames vertically to create a single DataFrame containing all student records.

```
data1 = {'Name': ['Alice', 'Bob'],
         'Age': [20, 22]}
data2 = {'Name': ['Charlie', 'David'],
         'Age': [21, 23]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
```

In [ ]:
data1 = {'Name': ['Alice', 'Bob'],
         'Age': [20, 22]}
data2 = {'Name': ['Charlie', 'David'],
         'Age': [21, 23]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Concatenate the two DataFrames vertically
result_df = pd.concat([df1, df2], axis=0, ignore_index = True)

print(result_df)

      Name  Age
0    Alice   20
1      Bob   22
2  Charlie   21
3    David   23

# Q27

You have two DataFrames, `df1` and `df2`, with columns 'ProductID' and 'Category.' Perform a left join on 'ProductID' to combine the information, keeping all rows from df1.

```
data1 = {'ProductID': [101, 102, 103],
         'Category': ['Electronics', 'Clothing', 'Electronics']}
data2 = {'ProductID': [102, 103, 104],
         'Category': ['Clothing', 'Electronics', 'Furniture']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
```

In [ ]:
data1 = {'ProductID': [101, 102, 103],
         'Category': ['Electronics', 'Clothing', 'Electronics']}
data2 = {'ProductID': [102, 103, 104],
         'Category': ['Clothing', 'Electronics', 'Furniture']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Perform a left join on 'ProductID'
result_df = pd.merge(df1, df2, on='ProductID', how='left')

print(result_df)

   ProductID   Category_x   Category_y
0        101  Electronics          NaN
1        102     Clothing     Clothing
2        103  Electronics  Electronics