<a href="https://colab.research.google.com/github/statrliu/data_bootcamp_part1/blob/main/homework_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

# Q1

Create a DataFrame containing information about students, including their names, ages, and grades.

Example output:
```
      Name  Age Grade
0    Alice   20     A
1      Bob   22     B
2  Charlie   21     C
3    David   23     B
```

# Q2

You have a DataFrame (`df_mixed`) containing a column of numerical values, but some values are represented as strings. You want to convert the column to float, and for values that cannot be converted, replace them with a specific placeholder value, such as -1.

```
data = {'Values': [100, 'yellow', 'apple', '201', 78.5]}

df_mixed = pd.DataFrame(data)
```

# Q3

You have a DataFrame (`df_students`) containing student information, and you want to add a new column 'Grade' that contains the corresponding grade level for each student. Assume that the grade levels are 'Freshman', 'Sophomore', 'Junior', and 'Senior'.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)
```

# Q4

You have a DataFrame (`df_sales`) containing sales data with a column 'Tax' that you want to drop because it's no longer needed.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200],
        'Tax': [40, 25, 15, 10]}

df_sales = pd.DataFrame(data)
```

# Q5

You have a DataFrame (`df_students`) with student information, and you want to drop all students who are older than 22 years old.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)
```

# Q6

You have a DataFrame (`df_students`) containing student information, and you want to create a new DataFrame that includes only the first two rows of student data.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [20, 22, 21, 23]}

df_students = pd.DataFrame(data)
```

# Q7

You have a DataFrame (`df_employees`) containing employee information, and you want to create a new DataFrame that includes only the employees with a salary greater than $60,000.

```
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, 60000, 75000, 70000]}

df_employees = pd.DataFrame(data)
```

# Q8

You have a DataFrame (`df_products`) with product information, and you want to create a new DataFrame that includes only the products with a price greater than $300 and a quantity sold greater than 100.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)
```

# Q9

You have a DataFrame (`df_products`) containing product information, and you want to filter and create a new DataFrame that includes only the products that are either 'Laptop' or 'Tablet.'

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)
```

# Q10

You have a DataFrame (`df_products`) containing product information with columns 'Product_Name', 'Category', 'Price_USD', 'In_Stock', and 'Supplier'. Use the filter method with like to create a new DataFrame containing only columns containing 'Price' in their names ('Price_USD').

```
data = {'Product_Name': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics'],
        'Price_USD': [800, 500, 300, 200],
        'In_Stock': [True, True, False, True],
        'Supplier': ['Supplier1', 'Supplier2', 'Supplier3', 'Supplier4']}

df_products = pd.DataFrame(data)
```

# Q11

You have a DataFrame (`df_sales`) containing sales data with columns 'Date', 'Product', and 'Revenue.' Sort the DataFrame first by 'Product' in ascending order and then by 'Revenue' in descending order within each product group.

```
data = {'Date': ['2023-01-15', '2023-01-16', '2023-01-17', '2023-01-18'],
        'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop'],
        'Revenue': [1200, 800, 450, 1000]}

df_sales = pd.DataFrame(data)
```

# Q12

You have a DataFrame (`df_cities`) with a custom index and columns 'City' and 'Population.' Sort the DataFrame by the index in ascending order to get the data sorted by city names.

```
data = {'City': ['New York', 'Los Angeles', 'Chicago'],
        'Population': [8398748, 3990456, 2705994]}

index = ['NY', 'CA', 'IL']

df_cities = pd.DataFrame(data, index=index)
```

# Q13

You have a DataFrame (`df_sales`) containing sales data with columns 'OrderID', 'Product', and 'Quantity.' Find and display the duplicated rows in the DataFrame based on all columns.

```
data = {'OrderID': [101, 102, 101, 103, 102],
        'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone'],
        'Quantity': [2, 3, 2, 1, 4]}

df_sales = pd.DataFrame(data)
```

# Q14

You have a DataFrame (`df_employees`) with employee information containing columns 'EmployeeID', 'Name', and 'Email.' Find and display the duplicated rows based on the 'Email' column only.

```
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Email': ['alice@example.com', 'bob@example.com', 'alice@example.com', 'david@example.com']}

df_employees = pd.DataFrame(data)
```

# Q15

You have a DataFrame (`df_products`) containing product information with columns 'ProductID', 'Name', and 'Category.' Drop all duplicated rows in the DataFrame, keeping the first occurrence.

```
data = {'ProductID': [101, 102, 101, 103, 102],
        'Name': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics']}

df_products = pd.DataFrame(data)
```

# Q16

You have a DataFrame (`df_employees`) containing employee information with columns 'EmployeeID', 'Name', 'Salary', and 'Department.' Find and display the rows that contain missing values.

```
data = {'EmployeeID': [101, 102, 103, 104],
        'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, None, 75000, 70000],
        'Department': ['HR', 'Finance', None, 'IT']}

df_employees = pd.DataFrame(data)
```

# Q17

You have a DataFrame (`df_feedback`) containing customer feedback data with columns 'Name', 'Feedback', 'Rating', and 'Comments.' Drop the columns that contain missing values from the DataFrame.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Feedback': ['Positive', None, 'Positive', 'Negative'],
        'Rating': [5, 4, None, 2],
        'Comments': ['Great service', 'No comments', None, 'Poor experience']}

df_feedback = pd.DataFrame(data)
```

# Q18

You have a DataFrame (`df_sales`) containing sales data with columns 'Quantity Sold' and 'Price.' Calculate the total revenue for each product by multiplying the 'Quantity Sold' by the 'Price' and add it as a new column 'Revenue' to the DataFrame.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Quantity Sold': [100, 200, 150, 50],
        'Price': [800, 500, 300, 200]}

df_sales = pd.DataFrame(data)
```

# Q19

You have a DataFrame (`df_products`) with product information containing columns 'Stock' and 'Price.' Filter and create a new DataFrame that includes only the products that are both in stock (Stock > 0) and priced below $400 (Price < 400).

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
        'Stock': [10, 20, 0, 5],
        'Price': [800, 500, 300, 200]}

df_products = pd.DataFrame(data)
```

# Q20

You have a DataFrame (`df_sales`) containing sales data with columns 'Product' and 'Revenue.' Calculate the total revenue and average revenue for each product group using the agg() method.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)
```

# Q21

You have a DataFrame (`df_employees`) containing employee information with columns 'Name' and 'Salary.' Apply a function that increases the salary of each employee by 10% using the apply() method.

```
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Salary': [50000, 60000, 75000, 70000]}

df_employees = pd.DataFrame(data)
```

# Q22

You have a DataFrame (`df_feedback`) containing customer feedback data with columns 'Feedback' and 'Rating.' Apply a function that converts the text in the 'Feedback' column to uppercase and doubles the 'Rating' using the applymap() method.

```
data = {'Feedback': ['Positive', 'Neutral', 'Negative'],
        'Rating': [5, 4, 2]}

df_feedback = pd.DataFrame(data)
```

# Q23

You have a DataFrame (`df_sales`) containing sales data with columns 'Product' and 'Revenue.' Group the data by 'Product' and calculate the total revenue for each product group.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)
```

# Q24

You have a DataFrame (`df_feedback`) containing customer feedback data with columns 'Feedback' and 'Rating.' Group the data by 'Feedback' and count the number of occurrences of each feedback type.

```
data = {'Feedback': ['Positive', 'Neutral', 'Negative', 'Positive', 'Negative'],
        'Rating': [5, 4, 2, 5, 1]}

df_feedback = pd.DataFrame(data)
```

# Q25

You have a DataFrame (`df_sales`) containing sales data with columns 'Product', 'Category', and 'Revenue.' Group the data by both 'Product' and 'Category' and calculate the total revenue for each product-category combination.

```
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics'],
        'Revenue': [1200, 800, 450, 1000, 700]}

df_sales = pd.DataFrame(data)
```

# Q26

You have two DataFrames, `df1` and `df2`, both containing student information with columns 'Name' and 'Age.' Concatenate the two DataFrames vertically to create a single DataFrame containing all student records.

```
data1 = {'Name': ['Alice', 'Bob'],
         'Age': [20, 22]}
data2 = {'Name': ['Charlie', 'David'],
         'Age': [21, 23]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
```

# Q27

You have two DataFrames, `df1` and `df2`, with columns 'ProductID' and 'Category.' Perform a left join on 'ProductID' to combine the information, keeping all rows from df1.

```
data1 = {'ProductID': [101, 102, 103],
         'Category': ['Electronics', 'Clothing', 'Electronics']}
data2 = {'ProductID': [102, 103, 104],
         'Category': ['Clothing', 'Electronics', 'Furniture']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
```