<a href="https://colab.research.google.com/github/statrliu/data_bootcamp_part1/blob/main/homework_1_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1#
Given the list of numbers: `12, 34, 45, 67, 88, 99, 56, 23`, find the sum of all the even numbers in the list.

In [ ]:
numbers = [12, 34, 45, 67, 88, 99, 56, 23]
even_sum = sum(x for x in numbers if x % 2 == 0)
print(even_sum)

190

#Q2#
Write a program to remove all duplicates from the list
`[1, 2, 2, 3, 4, 4, 5]`

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

#Q3#
Given two lists,
```
list1 = [1, 2, 3, 4, 3, 5]
list2 = [3, 4, 5, 6, 7, 4]
```
write a program to find the unique common elements between them.

In [ ]:
list1 = [1, 2, 3, 4, 3, 5]
list2 = [3, 4, 5, 6, 7, 4]
set1 = set(list1)
set2 = set(list2)
common_elements = set1.intersection(set2)
print(common_elements)

{3, 4, 5}

#Q4#
Given the list of strings,

`["apple", "banana", "cherry", "date", "fig"]`,

create a new list containing only the strings with more than 4 characters using list comprehensio

In [ ]:
words = ["apple", "banana", "cherry", "date", "fig"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'cherry']

#Q5#
Write a function to reverse a list without using the reverse method.

In [ ]:
def reverse_list(my_list):
    return my_list[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(reversed_list)

[5, 4, 3, 2, 1]

#Q6#
Create a matrix (a list of lists) and write a program to find the sum of all the elements in the matrix.

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

total_sum = sum(sum(row) for row in matrix)
print(total_sum)

45

#Q7#
Given the list of numbers,

`[12, 34, 45, 67, 88, 99, 56, 23]`

write codes to find the second largest and second smallest elements.

In [ ]:
numbers = [12, 34, 45, 67, 88, 99, 56, 23]

sorted_numbers = sorted(set(numbers))
second_smallest = sorted_numbers[1]
second_largest = sorted_numbers[-2]

print("Second Smallest:", second_smallest)
print("Second Largest:", second_largest)

Second Smallest: 23
Second Largest: 88

#Q8#

Write a function that computes the cumulative sum of a list (each element is the sum of all elements before it).

In [ ]:
numbers = [1, 2, 3, 4, 5]

def cumsum(num_list):
    cum_sum_list = []
    total = 0
    for num in num_list:
        total += num
        cum_sum_list.append(total)
    return cum_sum_list

print(cumsum(numbers))

[1, 3, 6, 10, 15]

#Q9#
Based on the dictionary below,

```
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}
```
1. Make a dictionary of all prices over 200

2. Make a dictionary of tech stocks based on the following list.
`tech_names = ['AAPL', 'IBM', 'HPQ', 'FB']`

In [ ]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

p1 = { key:value for key, value in prices.items() if value > 200 }

tech_names = ['AAPL', 'IBM', 'HPQ', 'FB']
p2 = { key:value for key,value in prices.items() if key in tech_names }

print(p1)
print(p2)

{'AAPL': 612.78, 'IBM': 205.55}
{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2, 'FB': 10.75}

#Q10#

Given the string,

`string = "Hello, World!"`

count the number of vowels `(a, e, i, o, u)` in it.

In [ ]:
string = "Hello, World!"
count = sum(1 for char in string if char.lower() in "aeiou")
print("Number of vowels:", count)

Number of vowels: 3

#Q11#

Given the string,

`"Hello, World !"`

remove all whitespace characters from it.

In [ ]:
string = "Hello, World !"
cleaned_string = "".join(string.split())
print("Cleaned string:", cleaned_string)

Cleaned string: Hello,World!

#Q12#

Given the string,

`"This is a sample sentence with long words"`

find the longest word in it.

In [ ]:
string = "This is a sample sentence with long words"
words = string.split()
longest_word = max(words, key=len)
# or use: longest_word = sorted(words, key = len)[-1]
print("Longest word:", longest_word)

Longest word: sentence

#Q13#

Write code to round `123456` to tens place

In [ ]:
round(123456, -1)

123460

#Q14#

Write a function that checks if a given number is even or odd and returns a corresponding message.

In [ ]:
def is_even_or_odd(number):
    if number % 2 == 0:
        return "even"
    else:
        return "odd"

number = 278
result = is_even_or_odd(number)
print(f"{number} is", result)

278 is even

#Q15#

Create a function that takes a **list** of numbers as input and returns the average of those numbers.

In [ ]:
def calculate_average(numbers):
    total = sum(numbers)
    average = total / len(numbers)
    return average

numbers = [1, 2, 3, 4, 5]
avg = calculate_average(numbers)
print("Average:", avg)

Average: 3.0

#Q16#

Write a function that takes **a variable number** of arguments and returns their sum.

In [ ]:
def sum_num(*args):
    return sum(args)

result = sum_num(1, 24, 245, 9, 15)
print("Sum:", result)

Sum: 294

#Q17#

Create a lambda function that takes two numbers as input and returns their product.

In [ ]:
prod = lambda x, y: x * y
result = prod(12.3, 78)
print("Product:", result)

Product: 959.4000000000001

#Q18#

Write a function that accepts a **dictionary** of student names and their corresponding scores. Calculate the average score, round it to the second digits after decimal points, and return it.

Example input:

`student_scores = {"Alice": 90, "Brain": 82, "David": 88}`

In [ ]:
def average_score(scores):
    total_score = sum(scores.values())
    average_score = total_score / len(scores)
    return round(average_score, 2)

student_scores = {"Alice": 90, "Brain": 82, "David": 88}
avg_score = average_score(student_scores)
print("Average score:", avg_score)

Average score: 86.67

#Q19#

Write a function `count_char_occurrences` that takes a string and a character as arguments and counts the number of times the character appears in the string.

Example imput:

```
text = "Hello, World!"
char = 'l'
count = count_char_occurrences(text, char)
```

In [ ]:
def count_char_occurrences(string, char):
    return string.count(char)

text = "Hello, World!"
char = 'l'
count = count_char_occurrences(text, char)
print(f"{char} appears {count} {'times' if count > 1 else 'time'}")

l appears 3 times

#Q20#

Create a function that takes a function and a list of numbers as arguments and applies the function to each number in the list.

Example:
```
def apply_function_to_list(func, numbers):
    # you code here

numbers = [1, 2, 3, 4, 5]
squared_numbers = apply_function_to_list(lambda x: x**2, numbers)
print("Squared numbers:", squared_numbers)

```

In [ ]:
def apply_function_to_list(func, numbers):
    return [func(num) for num in numbers]

numbers = [1, 2, 3, 4, 5]
squared_numbers = apply_function_to_list(lambda x: x**2, numbers)
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25]

#Q21#

Write a program that calculates the factorial of a given non-negative integer that is less than 15 using a **while** loop.

In [ ]:
num = 15
factorial = 1

while num > 1:
    factorial *= num
    num -= 1

print("Factorial:", factorial)

Factorial: 1307674368000

#Q22#

Create a program that takes a list of numbers and performs the following operations:

+ Find the maximum number in the list.
+ Find the minimum number in the list.
+ Calculate the sum of all numbers in the list.
+ Calculate the average of the numbers in the list.

Example list

`[12, 34, 75, 14, 23, 809]`

In [ ]:
numbers = [12, 34, 75, 14, 23, 809]

max_num = max(numbers)
min_num = min(numbers)
sum_nums = sum(numbers)
average = sum_nums / len(numbers)

print("Maximum:", max_num)
print("Minimum:", min_num)
print("Sum:", sum_nums)
print("Average:", average)

Maximum: 809
Minimum: 12
Sum: 967
Average: 161.16666666666666

#Q23#

Create a program that extracts a sublist from a given list based on user input for start and end indices.

Example input
```
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

start_index = 2
end_index = 5
```

In [ ]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

start_index = 2
end_index = 5

sublist = original_list[start_index:end_index]
print("Sublist:", sublist)

Sublist: [3, 4, 5]

#Q24#

Write a program that demonstrates basic set operations such as union, intersection, and difference.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_result = set1.union(set2)
intersection_result = set1.intersection(set2)
difference_result = set1.difference(set2)

print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference:", difference_result)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference: {1, 2}