<a href="https://colab.research.google.com/github/statrliu/data_bootcamp_part1/blob/main/homework_2_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#Q1#
Create a Pandas Series containing the following data: [10, 20, 30, 40, 50] and label it with the corresponding days of the week (Monday to Friday).

In [ ]:
data = [10, 20, 30, 40, 50]
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

# Create a Series
series = pd.Series(data, index=days)
print(series)

Monday       10
Tuesday      20
Wednesday    30
Thursday     40
Friday       50
dtype: int64

#Q2#
From the Series created in Problem 1, extract and print the value corresponding to 'Wednesday' and "Friday".

In [ ]:
wednesday_value = series[['Wednesday',"Friday"]]
print(wednesday_value)

Wednesday    30
Friday       50
dtype: int64

#Q3#

Filter and print the values in the Series `series` that are greater than 30.

```
series = pd.Series([12, 30, 43, 2, 567])
```

In [ ]:
series = pd.Series([12, 30, 43, 2, 567])
filtered_values = series[series > 30]
print(filtered_values)

2     43
4    567
dtype: int64

#Q4#
Check if there are any null (missing) values in `ser` and print the result.
```
ser = pd.Series([1, 20, None, 45, pd.NA])
```

In [ ]:
ser = pd.Series([1, 20, None, 45, pd.NA])
print(ser.hasnans)

True

#Q5#
Sort the Series `ser` in ascending order by its absolute values and put any missing values at the end.
```
ser = pd.Series([12, -23, None, 2, 40, -5, -90, None])
```

In [ ]:
ser = pd.Series([12, -23, None, 2, 40, -5, -90, None])

print(ser.sort_values( ascending= True, na_position='last', key = abs))

3     2.0
5    -5.0
0    12.0
1   -23.0
4    40.0
6   -90.0
2     NaN
7     NaN
dtype: float64

#Q6#
Extract and print the unique values from the Series `ser = pd.Series([23, 1, 3, None, 3, 23])`

In [ ]:
ser = pd.Series([23, 1, 3, None, 3, 23])
print(ser.unique())

[23.  1.  3. nan]

#Q7#
Calculate the exponential of each element in the Series `ser` and store the result in a new Series.

```
ser = pd.Series([2, 4, 5, 12, 6])
```

In [ ]:
from math import exp
ser = pd.Series([2, 4, 5, 12, 6])
exponential_series = ser.apply(lambda x: exp(x))
print(exponential_series)

0         7.389056
1        54.598150
2       148.413159
3    162754.791419
4       403.428793
dtype: float64

#Q8#

Count and print the number of occurrences of each unique value in the Series `ser`, inclusing missing values

```
ser = pd.Series([2, 3, 4, 3, 5, 6, None, 6])
```

In [ ]:
ser = pd.Series([2, 3, 4, 3, 5, 6, None, 6])
print(ser.value_counts(dropna = False))

3.0    2
6.0    2
2.0    1
4.0    1
5.0    1
NaN    1
dtype: int64

#Q9#
Find and print the minimum and maximum values in the Series `ser`

```
ser = pd.Series([-10, 34, 45, 87, 54])
```

In [ ]:
ser = pd.Series([-10, 34, 45, 87, 54])
print(ser.min())
print(ser.max())

-10
87

#Q10#

Create two Series with the same index labels and subtract one from the other.

In [ ]:
# Create two Series
series1 = pd.Series([10, 20, 30], index=['A', 'B', 'C'])
series2 = pd.Series([5, 15, 25], index=['A', 'B', 'C'])

# Subtract the second Series from the first
result = series1 - series2
print(result)

A    5
B    5
C    5
dtype: int64

#Q11#

Filter the elements of the Series `ser` to include only those values that are greater than the mean of the Series.

```
import numpy as np
np.random.seed(1234)
ser = pd.Series(np.random.normal(size = 15))
```

In [ ]:
import numpy as np
np.random.seed(1234)
ser = pd.Series(np.random.normal(size = 15))
print(ser[ser>ser.mean()])

0     0.471435
2     1.432707
5     0.887163
6     0.859588
8     0.015696
10    1.150036
11    0.991946
12    0.953324
dtype: float64

#Q12#

Rename the index of the Series `ser` with new index labels `"A", "B", "C"`

```
ser = pd.Series([1,2,3], index = list("abc"))
```

In [ ]:
ser = pd.Series([1,2,3], index = list("abc"))
ser.index = ["A", "B", "C"]
#ser.rename(index = {"a": "A", "b": "B", "c":"C"}, inplace = True)
print(ser)

A    1
B    2
C    3
dtype: int64

#Q13#

Convert the data type of the Series `ser` to  integer.

```
ser = pd.Series([1.0, 2.34, 5.6], dtype = "float64")
```

**Hint:** `astype()` method

In [ ]:
ser = pd.Series([1.0, 2.34, 5.6], dtype = "float64")
print(ser.astype("int"))

0    1
1    2
2    5
dtype: int64

#Q14#

Replace specific values in the Series `ser` with new values as follows:

replace `'b' by 100, 'c' by 200` and keep other values untouched.

```
ser = pd.Series(["a", "c", "c", "b", "d"])
```

In [ ]:
ser = pd.Series(["a", "c", "c", "b", "d"])

replacement_values = {'b': 100, 'c': 200}
print(ser.replace(replacement_values))

0      a
1    200
2    200
3    100
4      d
dtype: object

#Q15#

Interpolate missing values in the Series `ser` using **linear** interpolation.

```
ser = pd.Series([1, None, 3, None, 5])
```

In [ ]:
ser = pd.Series([1, None, 3, None, 5])
print(ser.interpolate(method='linear'))

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

#Q16#

Create a Series of student grades (e.g., 'A', 'B', 'C', 'D', 'F'). Use the `map` method to convert these letter grades to corresponding grade point averages (GPA) as follows:
```
'A' -> 4.0
'B' -> 3.0
'C' -> 2.0
'D' -> 1.0
'F' -> 0.0
```

In [ ]:
# Create a Series of student grades
grades = pd.Series(['A', 'B', 'C', 'D', 'F'])

# Define a mapping dictionary for GPA conversion
gpa_mapping = {'A': 4.0, 'B': 3.0, 'C': 2.0, 'D': 1.0, 'F': 0.0}

# Use the map method to convert grades to GPA
gpa_series = grades.map(gpa_mapping)
print(gpa_series)

0    4.0
1    3.0
2    2.0
3    1.0
4    0.0
dtype: float64

#Q17#

Given the Series `ser`, use the agg method to calculate the total value, average value, and maximum value.

```
ser = pd.Series([1000, 1500, 800, 2000, 1200])
```

In [ ]:
ser = pd.Series([1000, 1500, 800, 2000, 1200])

result = ser.agg(['sum', 'mean', 'max'])
print(result)

sum     6500.0
mean    1300.0
max     2000.0
dtype: float64

#Q18#

Given the following Series of lists containing exam scores for 4 students, calculate the average score for each student.

```
scores = pd.Series([[85, 90, 78], [92, 88, 94], [78, 85, 80], [88, 92, 90]],
                   index = ["stu1", "stu2", "stu3", "stu4"])

```

In [ ]:
scores = pd.Series([[85, 90, 78], [92, 88, 94], [78, 85, 80], [88, 92, 90]],
                   index = ["stu1", "stu2", "stu3", "stu4"])

# Define a function to calculate the average score for a student
def average_score(scores_list):
    return sum(scores_list) / len(scores_list)

# Use the apply method to calculate the average score for each student
average_scores = scores.apply(average_score)
print(average_scores)

stu1    84.333333
stu2    91.333333
stu3    81.000000
stu4    90.000000
dtype: float64

#Q19#

You have a Series of exam scores as follows,

```
scores = pd.Series([45, 78, 55, 92, 60, 38, 72])
```

You want to apply a curve to the scores:

if a score is less than 60, increase it by 10 points; otherwise, leave it unchanged.

Use the `where` method to apply this curve to the scores.

In [ ]:
scores = pd.Series([45, 78, 55, 92, 60, 38, 72])


# Use the where method to apply the curve
curved_scores = scores.where(scores >= 60, scores + 10)
print("Original Scores:")
print(scores)
print("\nCurved Scores:")
print(curved_scores)

Original Scores:
0    45
1    78
2    55
3    92
4    60
5    38
6    72
dtype: int64

Curved Scores:
0    55
1    78
2    65
3    92
4    60
5    48
6    72
dtype: int64

#Q20#

You have a Series of temperatures in Celsius,

```
temperatures_celsius = pd.Series([20, 28, 22, 30, 18, 25, 27])
```

You want to convert temperatures above a certain threshold (e.g., 25 degrees Celsius) to Fahrenheit.

Write code to apply the conversion formula to temperatures above the threshold and leave temperatures below the threshold in Celsius.

**Note:** The Fahrenheit to Celsius conversion formula is: `F = (C * 9/5) + 32`, where `F` is the temperature in Fahrenheit and `C` is the temperature in Celsius.

In [ ]:
temperatures_celsius = pd.Series([20, 28, 22, 30, 18, 25, 27])

# Define the threshold for conversion
threshold = 25

# Use the where method to apply the conversion formula
temperatures_fahrenheit = temperatures_celsius.where(temperatures_celsius <= threshold, (temperatures_celsius * 9/5) + 32)

print("Temperatures in Celsius:")
print(temperatures_celsius)
print("\nTemperatures in Fahrenheit (above threshold):")
print(temperatures_fahrenheit)

Temperatures in Celsius:
0    20
1    28
2    22
3    30
4    18
5    25
6    27
dtype: int64

Temperatures in Fahrenheit (above threshold):
0    20.0
1    82.4
2    22.0
3    86.0
4    18.0
5    25.0
6    80.6
dtype: float64

#Q21#

You have a Series of names, and you want to identify and print the duplicated names in the Series.

```
names = pd.Series(['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'David'])
```

In [ ]:
names = pd.Series(['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'David'])

# Detect and print duplicated names
duplicated_names = names[names.duplicated()]
print("Duplicated Names:")
print(duplicated_names)

Duplicated Names:
2    Alice
4      Bob
dtype: object

#Q22#

Extend the previous question to count the occurrences of each duplicated value in the Series.

In [ ]:
names = pd.Series(['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'David'])

# Count occurrences of duplicated names
duplicated_counts = names.value_counts()[names[names.duplicated()]]
print("Count of Duplicated Names:")
print(duplicated_counts)

Count of Duplicated Names:
Alice    2
Bob      2
dtype: int64

#Q23#

You have a Series of data with missing values represented as `None`, and you want to replace these missing values with the mean of the non-missing values.

```
data = pd.Series([10, 20, None, 30, 40, None, 50])
```

In [ ]:
data = pd.Series([10, 20, None, 30, 40, None, 50])

# Replace missing values with the mean of non-missing values
mean_value = data.mean()
data_filled = data.fillna(mean_value)
print("Original Data:")
print(data)
print("\nData with Missing Values Filled:")
print(data_filled)

Original Data:
0    10.0
1    20.0
2     NaN
3    30.0
4    40.0
5     NaN
6    50.0
dtype: float64

Data with Missing Values Filled:
0    10.0
1    20.0
2    30.0
3    30.0
4    40.0
5    30.0
6    50.0
dtype: float64

#Q24#

Extend the previous question to drop rows containing missing values from the Series.

```
data = pd.Series([10, 20, None, 30, 40, None, 50])
```

In [ ]:
data = pd.Series([10, 20, None, 30, 40, None, 50])

# Drop rows with missing values
data_dropped = data.dropna()
print("Original Data:")
print(data)
print("\nData with Missing Values Dropped:")
print(data_dropped)

Original Data:
0    10.0
1    20.0
2     NaN
3    30.0
4    40.0
5     NaN
6    50.0
dtype: float64

Data with Missing Values Dropped:
0    10.0
1    20.0
3    30.0
4    40.0
6    50.0
dtype: float64

# Q25

You have a Series of stock prices with missing values, and you want to backward fill (copy the next available value) to fill in the missing values.

```
import numpy as np
prices = pd.Series([100, np.nan, 105, np.nan, 110, 112, np.nan, 115])
```

In [ ]:
import numpy as np
prices = pd.Series([100, np.nan, 105, np.nan, 110, 112, np.nan, 115])

# Backward fill missing values
filled_prices = prices.bfill()
print("Original Stock Prices:")
print(prices)
print("\nStock Prices with Missing Values Backward Filled:")
print(filled_prices)

Original Stock Prices:
0    100.0
1      NaN
2    105.0
3      NaN
4    110.0
5    112.0
6      NaN
7    115.0
dtype: float64

Stock Prices with Missing Values Backward Filled:
0    100.0
1    105.0
2    105.0
3    110.0
4    110.0
5    112.0
6    115.0
7    115.0
dtype: float64