<a href="https://colab.research.google.com/github/statrliu/data_bootcamp_part1/blob/main/interview_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# **Quesiton 1**

Meta/Facebook has developed a new programing language called Hack.To measure the popularity of Hack they ran a survey with their employees.

The survey included data on previous programing familiarity as well as the number of years of experience, age, gender and most importantly satisfaction with Hack.

Due to an error location data was not collected, but your supervisor demands a report showing average popularity of Hack by office location.

Luckily the user IDs of employees completing the surveys were stored.
Based on the above, find the average popularity of the Hack per office location.

Output the location along with the average popularity.

**DataFrames:** facebook_employees, facebook_hack_survey

In [2]:
# Generate data set
import pandas as pd

##
data = {
    'id': list(range(14)),
    'location': ['USA', 'USA', 'USA', 'USA', 'USA', 'India', 'India', 'India', 'India', 'UK', 'UK', 'UK', 'Switzerland', 'Switzerland'],
    'age': [24, 31, 29, 33, 36, 41, 44, 28, 24, 18, 21, 23, 30, 31],
    'gender': ['M', 'F', 'F', 'M', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'F', 'F', 'M'],
    'is_senior': [False, True, False, False, True, True, True, False, False, False, False, True, True, True]
}

facebook_employees = pd.DataFrame(data)
print(facebook_employees.head())
print("\n\n")
##

employee_data = {
    'employee_id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 66, 55, 17],
    'age': [24, 31, 29, 33, 36, 41, 44, 28, 24, 18, 21, 23, 30, 31, 25, 35, 54],
    'gender': ['M', 'F', 'F', 'M', 'F', 'F', 'F', 'F', 'M', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'M'],
    'popularity': [6, 4, 0, 7, 6, 9, 7, 5, 9, 8, 1, 4, 2, 0, 5, 6, 9]
}

# create a pandas DataFrame from the dictionary
facebook_hack_survey = pd.DataFrame(employee_data)

# display the DataFrame
print(facebook_hack_survey.head())

   id location  age gender  is_senior
0   0      USA   24      M      False
1   1      USA   31      F       True
2   2      USA   29      F      False
3   3      USA   33      M      False
4   4      USA   36      F       True



   employee_id  age gender  popularity
0            0   24      M           6
1            1   31      F           4
2            2   29      F           0
3            3   33      M           7
4            4   36      F           6

## **Solution:**

In [3]:
merged = pd.merge(facebook_employees,facebook_hack_survey, left_on = 'id', right_on = 'employee_id', how = 'inner')
print(merged.head())
print("\n\n")

result = merged.groupby(['location'])['popularity'].mean()#.reset_index()
print(result)

   id location  age_x gender_x  is_senior  employee_id  age_y gender_y  \
0   0      USA     24        M      False            0     24        M
1   1      USA     31        F       True            1     31        F
2   2      USA     29        F      False            2     29        F
3   3      USA     33        M      False            3     33        M
4   4      USA     36        F       True            4     36        F

   popularity
0           6
1           4
2           0
3           7
4           6



location
India          7.500000
Switzerland    1.000000
UK             4.333333
USA            4.600000
Name: popularity, dtype: float64

# **Question 2**

Find the job titles of the highest-paid employees.


Your output should include the highest-paid title or multiple titles with the same salary.

**DataFrames:** worker, title

In [4]:
# Data set
# create a dictionary of worker data
worker_data = {
    'worker_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'first_name': ['Monika', 'Niharika', 'Vishal', 'Amitah', 'Vivek', 'Vipul', 'Satish', 'Geetika', 'Agepi', 'Moe', 'Nayah', 'Jai'],
    'last_name': ['Arora', 'Verma', 'Singhal', 'Singh', 'Bhati', 'Diwan', 'Kumar', 'Chauhan', 'Argon', 'Acharya', 'Laghari', 'Patel'],
    'salary': [100000, 80000, 300000, 500000, 500000, 200000, 75000, 90000, 90000, 65000, 75000, 85000],
    'joining_date': ['2014-02-20', '2014-06-11', '2014-02-20', '2014-02-20', '2014-06-11', '2014-06-11', '2014-01-20', '2014-04-11', '2015-04-10', '2015-04-11', '2014-03-20', '2014-03-21'],
    'department': ['HR', 'Admin', 'HR', 'Admin', 'Admin', 'Account', 'Account', 'Admin', 'Admin', 'HR', 'Account', 'HR']
}

# create a pandas DataFrame from the dictionary
worker = pd.DataFrame(worker_data)

# display the DataFrame
print(worker.head())
print("\n\n")


# create a dictionary of worker reference data
worker_ref_data = {
    'worker_ref_id': [1, 2, 8, 5, 4, 7, 6, 3],
    'worker_title': ['Manager', 'Executive', 'Executive', 'Manager', 'Asst. Manager', 'Executive', 'Lead', 'Lead'],
    'affected_from': ['2016-02-20', '2016-06-11', '2016-06-11', '2016-06-11', '2016-06-11', '2016-06-11', '2016-06-11', '2016-06-11']
}

# create a pandas DataFrame from the dictionary
title = pd.DataFrame(worker_ref_data)

# display the DataFrame
print(title.head())

   worker_id first_name last_name  salary joining_date department
0          1     Monika     Arora  100000   2014-02-20         HR
1          2   Niharika     Verma   80000   2014-06-11      Admin
2          3     Vishal   Singhal  300000   2014-02-20         HR
3          4     Amitah     Singh  500000   2014-02-20      Admin
4          5      Vivek     Bhati  500000   2014-06-11      Admin



   worker_ref_id   worker_title affected_from
0              1        Manager    2016-02-20
1              2      Executive    2016-06-11
2              8      Executive    2016-06-11
3              5        Manager    2016-06-11
4              4  Asst. Manager    2016-06-11

## **Solution**

In [5]:
#title_worker_id = title.rename(columns={"worker_ref_id": "worker_id"})
#merged_df = pd.merge(worker, title_worker_id, on="worker_id")
merged_df = pd.merge(worker, title, left_on="worker_id", right_on = "worker_ref_id")
print(merged_df)
print("\n\n")

max_salary = merged_df[merged_df["salary"] == merged_df["salary"].max()][
    ["worker_title"]
]#.rename(columns={"worker_title": "best_paid_title"})


print(max_salary)

   worker_id first_name last_name  salary joining_date department  \
0          1     Monika     Arora  100000   2014-02-20         HR
1          2   Niharika     Verma   80000   2014-06-11      Admin
2          3     Vishal   Singhal  300000   2014-02-20         HR
3          4     Amitah     Singh  500000   2014-02-20      Admin
4          5      Vivek     Bhati  500000   2014-06-11      Admin
5          6      Vipul     Diwan  200000   2014-06-11    Account
6          7     Satish     Kumar   75000   2014-01-20    Account
7          8    Geetika   Chauhan   90000   2014-04-11      Admin

   worker_ref_id   worker_title affected_from
0              1        Manager    2016-02-20
1              2      Executive    2016-06-11
2              3           Lead    2016-06-11
3              4  Asst. Manager    2016-06-11
4              5        Manager    2016-06-11
5              6           Lead    2016-06-11
6              7      Executive    2016-06-11
7              8      Executive    2016-06-11



    worker_title
3  Asst. Manager
4        Manager

# **Questions 3**

Find the total AdWords earnings for each business type.

Output the business types along with the total earnings.

**DataFrame:** google_adwords_earnings

In [6]:

# create a dictionary of business data
business_data = {
    'business_type': ['handyman', 'handyman', 'media', 'handyman', 'handyman', 'handyman', 'handyman', 'transport', 'handyman', 'handyman', 'handyman', 'handyman', 'handyman', 'handyman', 'handyman', 'media', 'transport', 'transport', 'media', 'handyman'],
    'n_employees': [2, 10, 10000, 5000, 2, 10, 1500, 3200, 10, 2, 10, 2, 5, 10, 7, 10000, 3200, 10000, 3200, 3],
    'year': [2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2020, 2018, 2019, 2020, 2019, 2019, 2019, 2019, 2019],
    'adwords_earnings': [81, 110, 123456789, 1001001, 150, 87, 5040032, 7865490, 55, 130, 80, 16, 130, 55, 182, 123456789, 1001001, 123456789, 1001001, 78]
}

# create a pandas DataFrame from the dictionary
google_adwords_earnings = pd.DataFrame(business_data)

# display the DataFrame
print(google_adwords_earnings.head())

  business_type  n_employees  year  adwords_earnings
0      handyman            2  2018                81
1      handyman           10  2018               110
2         media        10000  2018         123456789
3      handyman         5000  2018           1001001
4      handyman            2  2018               150

## **Solution**

In [7]:
result = google_adwords_earnings.groupby(['business_type'])['adwords_earnings'].sum().reset_index()

print(result)

  business_type  adwords_earnings
0      handyman           6042187
1         media         247914579
2     transport         132323280

# **Question 4**

We have a table with employees and their salaries, however, some of the records are old and contain outdated salary information.

Find the current salary of each employee **assuming that salaries increase each year.**

Output their id, first name, last name, department ID, and current salary. Order your list by employee ID in ascending order.

**DataFrame:** ms_employee_salary

In [8]:
# Data set
ms_employee_salary = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/ms_employee_salary.csv")

print(ms_employee_salary.head())

   id first_name last_name  salary  department_id
0   1       Todd    Wilson  110000           1006
1   1       Todd    Wilson  106119           1006
2   2     Justin     Simon  128922           1005
3   2     Justin     Simon  130000           1005
4   3      Kelly   Rosario   42689           1002

## **Solution**

In [9]:
result = ms_employee_salary.groupby(['id','first_name','last_name','department_id'])['salary'].max().reset_index().sort_values('id')
result

    id first_name last_name  department_id  salary
0    1       Todd    Wilson           1006  110000
1    2     Justin     Simon           1005  130000
2    3      Kelly   Rosario           1002   42689
3    4   Patricia    Powell           1004  170000
4    5     Sherry    Golden           1002   44101
..  ..        ...       ...            ...     ...
70  71   Kristine     Casey           1003   67651
71  72  Christine      Frye           1004  137244
72  73    William   Preston           1003  155225
73  74    Richard      Cole           1003  180361
74  75      Julia     Ramos           1006  105000

[75 rows x 5 columns]

In [10]:
result = ms_employee_salary.groupby(['id','first_name','last_name','department_id'])['salary'].max().reset_index().sort_values('id')
result1 = ms_employee_salary.groupby(['id'])['salary'].max().reset_index().sort_values('id')


print(result)
print("\n\n")

print(result1)
print("\n\n")

print(result.salary.equals(result1.salary)) # use equals() method to compare two Series/DataFrames

    id first_name last_name  department_id  salary
0    1       Todd    Wilson           1006  110000
1    2     Justin     Simon           1005  130000
2    3      Kelly   Rosario           1002   42689
3    4   Patricia    Powell           1004  170000
4    5     Sherry    Golden           1002   44101
..  ..        ...       ...            ...     ...
70  71   Kristine     Casey           1003   67651
71  72  Christine      Frye           1004  137244
72  73    William   Preston           1003  155225
73  74    Richard      Cole           1003  180361
74  75      Julia     Ramos           1006  105000

[75 rows x 5 columns]



    id  salary
0    1  110000
1    2  130000
2    3   42689
3    4  170000
4    5   44101
..  ..     ...
70  71   67651
71  72  137244
72  73  155225
73  74  180361
74  75  105000

[75 rows x 2 columns]



True

# **Question 5**

Find the price of the cheapest property for every city.

**DataFrame:** airbnb_search_details

In [11]:
# Data
airbnb_search_details = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/airbnb_search_details.csv")

print(airbnb_search_details.head())

   Unnamed: 0        id   price property_type        room_type  \
0           0  12513361  555.68     Apartment  Entire home/apt
1           1   7196412  366.36         Cabin     Private room
2           2  16333776  482.83         House     Private room
3           3   1786412  448.86     Apartment     Private room
4           4  14575777  506.89         Villa     Private room

                                           amenities  accommodates  bathrooms  \
0  {TV,"Wireless Internet","Air conditioning","Sm...             2          1
1  {"Wireless Internet",Kitchen,Washer,Dryer,"Smo...             2          3
2  {TV,"Cable TV",Internet,"Wireless Internet",Ki...             2          1
3  {"Wireless Internet","Air conditioning",Kitche...             2          1
4  {TV,Internet,"Wireless Internet","Air conditio...             6          2

   bed_type cancellation_policy  ...  city host_identity_verified  \
0  Real Bed            flexible  ...   NYC                      t
1  Real Bed            moderate  ...    LA                      f
2  Real Bed              strict  ...    SF                      t
3  Real Bed              strict  ...   NYC                      t
4  Real Bed              strict  ...    LA                      t

  host_response_rate          host_since      neighbourhood number_of_reviews  \
0                89%  2015-11-18 0:00:00        East Harlem                 3
1               100%  2016-09-10 0:00:00        Valley Glen                14
2               100%  2013-12-26 0:00:00  Richmond District               117
3                93%  2010-05-11 0:00:00       Williamsburg                 8
4                70%  2015-10-22 0:00:00                NaN                 2

   review_scores_rating  zipcode  bedrooms  beds
0                  87.0    10029         0     1
1                  91.0    91606         1     1
2                  96.0    94118         1     1
3                  86.0    11211         1     1
4                 100.0    90703         3     3

[5 rows x 21 columns]

## **Solution**

In [12]:
cheapest_property = airbnb_search_details.groupby(['city'])['price'].min().reset_index()[['city','price']]
result = cheapest_property.rename(columns={"price": "min_price"})

print(result)
# airbnb_search_details.groupby(['city']).apply(lambda df: df[df['price'] == df["price"].min()])

      city  min_price
0   Boston     385.01
1  Chicago     487.52
2       DC     417.44
3       LA     270.81
4      NYC     340.12
5       SF     424.85

# **Question 6**

Find the average number of bathrooms and bedrooms for each city’s property types.

Output the result along with the city name and the property type.

**DataFrame:** airbnb_search_details

In [13]:
# Data
import pandas as pd
airbnb_search_details = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/airbnb_search_details.csv")

print(airbnb_search_details.head())

   Unnamed: 0        id   price property_type        room_type  \
0           0  12513361  555.68     Apartment  Entire home/apt
1           1   7196412  366.36         Cabin     Private room
2           2  16333776  482.83         House     Private room
3           3   1786412  448.86     Apartment     Private room
4           4  14575777  506.89         Villa     Private room

                                           amenities  accommodates  bathrooms  \
0  {TV,"Wireless Internet","Air conditioning","Sm...             2          1
1  {"Wireless Internet",Kitchen,Washer,Dryer,"Smo...             2          3
2  {TV,"Cable TV",Internet,"Wireless Internet",Ki...             2          1
3  {"Wireless Internet","Air conditioning",Kitche...             2          1
4  {TV,Internet,"Wireless Internet","Air conditio...             6          2

   bed_type cancellation_policy  ...  city host_identity_verified  \
0  Real Bed            flexible  ...   NYC                      t
1  Real Bed            moderate  ...    LA                      f
2  Real Bed              strict  ...    SF                      t
3  Real Bed              strict  ...   NYC                      t
4  Real Bed              strict  ...    LA                      t

  host_response_rate          host_since      neighbourhood number_of_reviews  \
0                89%  2015-11-18 0:00:00        East Harlem                 3
1               100%  2016-09-10 0:00:00        Valley Glen                14
2               100%  2013-12-26 0:00:00  Richmond District               117
3                93%  2010-05-11 0:00:00       Williamsburg                 8
4                70%  2015-10-22 0:00:00                NaN                 2

   review_scores_rating  zipcode  bedrooms  beds
0                  87.0    10029         0     1
1                  91.0    91606         1     1
2                  96.0    94118         1     1
3                  86.0    11211         1     1
4                 100.0    90703         3     3

[5 rows x 21 columns]

In [14]:
airbnb_search_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              160 non-null    int64
 1   id                      160 non-null    int64
 2   price                   160 non-null    float64
 3   property_type           160 non-null    object
 4   room_type               160 non-null    object
 5   amenities               160 non-null    object
 6   accommodates            160 non-null    int64
 7   bathrooms               160 non-null    int64
 8   bed_type                160 non-null    object
 9   cancellation_policy     160 non-null    object
 10  cleaning_fee            160 non-null    bool
 11  city                    160 non-null    object
 12  host_identity_verified  160 non-null    object
 13  host_response_rate      128 non-null    object
 14  host_since              160 non-null    object
 15  neighbourhood           145 non-null    object
 16  number_of_reviews       160 non-null    int64
 17  review_scores_rating    123 non-null    float64
 18  zipcode                 160 non-null    int64
 19  bedrooms                160 non-null    int64
 20  beds                    160 non-null    int64
dtypes: bool(1), float64(2), int64(8), object(10)
memory usage: 25.3+ KB

## **Solution:**

In [15]:
result = airbnb_search_details.groupby(['city','property_type'])['bedrooms','bathrooms'].mean()
print(result.head())
print("\n\n")

result = result.rename(columns={"reset_index().bedrooms": "n_bedrooms_avg", "bathrooms": "n_bathrooms_avg"})

print(result)

                       bedrooms  bathrooms
city    property_type
Boston  Apartment           1.0        1.0
        Condominium         2.0        2.0
        House               1.0        1.0
Chicago Apartment           2.0        2.0
        Condominium         2.0        2.0



                       bedrooms  n_bathrooms_avg
city    property_type
Boston  Apartment      1.000000         1.000000
        Condominium    2.000000         2.000000
        House          1.000000         1.000000
Chicago Apartment      2.000000         2.000000
        Condominium    2.000000         2.000000
        House          3.000000         2.000000
DC      House          1.000000         1.000000
LA      Apartment      1.142857         1.142857
        Bungalow       0.000000         1.000000
        Cabin          1.000000         3.000000
        Condominium    1.500000         1.500000
        House          1.558824         1.500000
        Loft           0.000000         1.000000
        Other          1.000000         1.000000
        Townhouse      3.000000         2.000000
        Villa          2.533333         2.066667
NYC     Apartment      1.250000         1.116667
        Condominium    1.333333         1.000000
        House          1.800000         1.400000
        Loft           0.500000         1.000000
        Townhouse      0.000000         1.000000
SF      Apartment      2.000000         1.000000
        House          1.800000         1.400000

<ipython-input-15-eb38bc2c13a0>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result = airbnb_search_details.groupby(['city','property_type'])['bedrooms','bathrooms'].mean()

# **Question 7**

For each guest reviewer, find the nationality of the reviewer’s favorite host based on the guest’s highest review score given to a host.

Output the user ID of the guest along with their favorite host’s nationality.

In case there is more than one favorite host from the same country, list that country only once (remove duplicates).

Both the from_user and to_user columns are user IDs.

**DataFrames:** airbnb_reviews, airbnb_hosts

In [16]:
# Data
airbnb_reviews = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/airbnb_reviews.csv")
print(airbnb_reviews.head())
print("\n\n")

airbnb_hosts = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/airbnb_hosts.csv")
print(airbnb_hosts.head())

   from_user  to_user from_type to_type  review_score
0          4        2     guest    host             3
1          1        2      host   guest             5
2          8        8     guest    host             9
3          4        0     guest    host             6
4          7        1      host   guest             2



   host_id nationality gender  age
0        0         USA      M   28
1        1         USA      F   29
2        2       China      F   31
3        3       China      M   24
4        4        Mali      M   30

## **Solution**

In [17]:
guests = airbnb_reviews[airbnb_reviews['from_type'] == 'guest']
print(guests.head())

   from_user  to_user from_type to_type  review_score
0          4        2     guest    host             3
2          8        8     guest    host             9
3          4        0     guest    host             6
6          4        6     guest    host             9
7          9        3     guest    host             3

In [18]:
max_guest = guests.groupby(['from_user'])['review_score'].max().to_frame('max_score_given').reset_index()
print(max_guest)

    from_user  max_score_given
0           0               10
1           1               10
2           2               10
3           3               10
4           4               10
5           5               10
6           6               10
7           7               10
8           8               10
9           9               10
10         10               10
11         11               10

In [19]:
merged = pd.merge(max_guest, guests, left_on = ['from_user','max_score_given'], right_on = ['from_user','review_score'])
print(merged.head())

   from_user  max_score_given  to_user from_type to_type  review_score
0          0               10        6     guest    host            10
1          1               10       11     guest    host            10
2          1               10       10     guest    host            10
3          2               10        9     guest    host            10
4          3               10        8     guest    host            10

In [20]:
df = pd.merge(merged,airbnb_hosts, left_on = 'to_user', right_on = 'host_id')
print(df.head())
print("\n\n")

result = df[['from_user','nationality']].drop_duplicates()
print(result)

   from_user  max_score_given  to_user from_type to_type  review_score  \
0          0               10        6     guest    host            10
1          0               10        6     guest    host            10
2          0               10        6     guest    host            10
3          0               10        6     guest    host            10
4          0               10        6     guest    host            10

   host_id nationality gender  age
0        6  Luxembourg      M   25
1        6  Luxembourg      M   25
2        6  Luxembourg      M   25
3        6  Luxembourg      M   25
4        6  Luxembourg      M   25



     from_user nationality
0            0  Luxembourg
32           1      Brazil
36           9      Brazil
44           4      Brazil
48           7      Brazil
52           2   Australia
56           8   Australia
60           3   Australia
64           5   Australia
68           5        Mali
76          11        Mali
80           5         USA
152          6         USA
224          8         USA
368         10         USA
440          6       China
444         11       China
456          7         USA
480          7       China
484          8       China
488          7  Luxembourg
520          8        Mali

# **Question 8**

Count how many claims submitted in December 2021 are still pending. A claim is pending when it has neither an acceptance nor rejection date.

**DataFrame:** cvs_claims

In [21]:
# create the data
import pandas as pd
import numpy as np

data = {'claim_id': [3075, 3065, 3061, 3074, 3069, 3063, 3076, 3070, 3073, 3072, 3071, 3062, 3066, 3064, 3067, 3068],
        'account_id': ['A41', 'A41', 'A41', 'A42', 'A42', 'A43', 'A44', 'A44', 'A45', 'A45', 'A46', 'A46', 'A47', 'A47', 'A48', 'A52'],
        'date_submitted': ['2022-01-05 00:00:00', '2021-12-01 00:00:00', '2020-12-15 00:00:00', '2022-01-03 00:00:00', '2021-12-19 00:00:00',
                           '2021-11-23 00:00:00', '2022-01-15 00:00:00', '2021-12-22 00:00:00', '2021-12-31 00:00:00', '2021-12-28 00:00:00',
                           '2021-12-28 00:00:00', '2021-11-07 00:00:00', '2021-12-14 00:00:00', '2021-11-28 00:00:00', '2021-12-14 00:00:00',
                           '2021-12-16 00:00:00'],
        'date_accepted': ['NaN', 'NaN', 'NaN', '2022-01-14 00:00:00', '2021-12-23 00:00:00', '2021-11-24 00:00:00', '2022-01-17 00:00:00',
                          'NaN', 'NaN', '2021-12-29 00:00:00', 'NaN', 'NaN', '2021-12-28 00:00:00', '2021-12-13 00:00:00', 'NaN',
                          '2022-01-02 00:00:00'],
        'date_rejected': ['NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', '2022-01-10 00:00:00', 'NaN', 'NaN', 'NaN',
                          'NaN', 'NaN', 'NaN']}

# create a pandas DataFrame from the data
cvs_claims = pd.DataFrame(data)

# replace 'NaN' with np.nan for easier manipulation
cvs_claims = cvs_claims.replace('NaN', np.nan)

# display the DataFrame
print(cvs_claims.head())

   claim_id account_id       date_submitted        date_accepted date_rejected
0      3075        A41  2022-01-05 00:00:00                  NaN           NaN
1      3065        A41  2021-12-01 00:00:00                  NaN           NaN
2      3061        A41  2020-12-15 00:00:00                  NaN           NaN
3      3074        A42  2022-01-03 00:00:00  2022-01-14 00:00:00           NaN
4      3069        A42  2021-12-19 00:00:00  2021-12-23 00:00:00           NaN

## **Solution**

In [22]:
cvs_claims['date_submitted'] = pd.to_datetime(cvs_claims['date_submitted'])
print(cvs_claims.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   claim_id        16 non-null     int64
 1   account_id      16 non-null     object
 2   date_submitted  16 non-null     datetime64[ns]
 3   date_accepted   8 non-null      object
 4   date_rejected   1 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 768.0+ bytes
None

In [23]:
cvs_claims['date_submitted'] = cvs_claims['date_submitted'].dt.to_period("M")
print(cvs_claims.head())

   claim_id account_id date_submitted        date_accepted date_rejected
0      3075        A41        2022-01                  NaN           NaN
1      3065        A41        2021-12                  NaN           NaN
2      3061        A41        2020-12                  NaN           NaN
3      3074        A42        2022-01  2022-01-14 00:00:00           NaN
4      3069        A42        2021-12  2021-12-23 00:00:00           NaN

In [24]:
filtered_claims = cvs_claims[ (cvs_claims['date_submitted'] == '2021-12') & (cvs_claims['date_accepted'].isna()) & (cvs_claims['date_rejected'].isna())]
print(filtered_claims.head())
print("\n\n")

result = filtered_claims.shape[0]
print(result)

    claim_id account_id date_submitted date_accepted date_rejected
1       3065        A41        2021-12           NaN           NaN
7       3070        A44        2021-12           NaN           NaN
8       3073        A45        2021-12           NaN           NaN
10      3071        A46        2021-12           NaN           NaN
14      3067        A48        2021-12           NaN           NaN



5

# **Question 9**

Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments.

Output just the absolute difference in salaries.

**DataFrames:** db_employee, db_dept

In [25]:
# Data

db_employee = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/db_employee.csv")
print(db_employee.head())
print("\n\n")


# create the data for the table
data = {'id': [1, 2, 3, 4, 5, 6],
        'department': ['engineering', 'human resource', 'operation', 'marketing', 'sales', 'customer care']}

# create a DataFrame from the data
db_dept = pd.DataFrame(data)

# display the DataFrame
print(db_dept)

      id first_name last_name  salary  department_id
0  10301      Keith    Morgan   27056              2
1  10302      Tyler     Booth   32199              3
2  10303   Clifford    Nguyen   32165              2
3  10304       Mary     Jones   49488              3
4  10305    Melissa    Lucero   27024              3



   id      department
0   1     engineering
1   2  human resource
2   3       operation
3   4       marketing
4   5           sales
5   6   customer care

## **Solution**

In [26]:
df = pd.merge(db_employee, db_dept, how = 'left',left_on = ['department_id'], right_on=['id'])
print(df.head())

    id_x first_name last_name  salary  department_id  id_y      department
0  10301      Keith    Morgan   27056              2     2  human resource
1  10302      Tyler     Booth   32199              3     3       operation
2  10303   Clifford    Nguyen   32165              2     2  human resource
3  10304       Mary     Jones   49488              3     3       operation
4  10305    Melissa    Lucero   27024              3     3       operation

In [27]:
df1=df[df["department"]=='engineering']
df_eng = df1.groupby('department')['salary'].max().reset_index(name='eng_salary')
print(df_eng)

    department  eng_salary
0  engineering       45787

In [28]:
df2=df[df["department"]=='marketing']
df_mkt = df2.groupby('department')['salary'].max().reset_index(name='mkt_salary')
print(df_mkt)

  department  mkt_salary
0  marketing       48187

In [29]:
#result = abs(pd.DataFrame(df_mkt['mkt_salary'] - df_eng['eng_salary']))
result = pd.DataFrame(abs(df_mkt['mkt_salary'] - df_eng['eng_salary']))
result.columns = ['salary_difference']
print(result)

   salary_difference
0               2400

In [30]:
df = pd.merge(db_employee, db_dept, how = "inner", left_on = "department_id", right_on = "id")

marketing = df[df["department"] == 'marketing']

market_m = marketing["salary"].max()

engineering = df[df["department"] == 'engineering']

enginer_m = engineering["salary"].max()

dif = abs(market_m - enginer_m)

print(dif)

2400

# **Question 10**

Find employees who are earning more than their managers.

Output the employee's first name along with the corresponding salary.

**DataFrame:** employee

In [31]:
# Data
employee = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/employee.csv")

print(employee.head(5))

   id first_name last_name  age sex employee_title  department  salary  \
0   5        Max    George   26   M          Sales       Sales    1300
1  13      Katty      Bond   56   F        Manager  Management  150000
2  11    Richerd      Gear   57   M        Manager  Management  250000
3  10   Jennifer      Dion   34   F          Sales       Sales    1000
4  19     George       Joe   50   M        Manager  Management  100000

   target  bonus                 email        city               address  \
0     200    150       Max@company.com  California  2638 Richards Avenue
1       0    300     Katty@company.com     Arizona                   NaN
2       0    300   Richerd@company.com     Alabama                   NaN
3     200    150  Jennifer@company.com     Alabama                   NaN
4       0    300    George@company.com     Florida     1003 Wyatt Street

   manager_id
0           1
1           1
2           1
3          13
4           1

## **Solution**

In [32]:
merged = pd.merge(employee, employee, left_on = 'manager_id', right_on = 'id')
print(merged[["id_x", "first_name_x", "last_name_x", "salary_x", "manager_id_x",
              "id_y", "first_name_y", "last_name_y", "salary_y", "manager_id_y"]].head())

   id_x first_name_x last_name_x  salary_x  manager_id_x  id_y first_name_y  \
0     5          Max      George      1300             1     1        Allen
1    13        Katty        Bond    150000             1     1        Allen
2    11      Richerd        Gear    250000             1     1        Allen
3    19       George         Joe    100000             1     1        Allen
4    27          Tom       Fridy      1200             1     1        Allen

  last_name_y  salary_y  manager_id_y
0        Wang    200000             1
1        Wang    200000             1
2        Wang    200000             1
3        Wang    200000             1
4        Wang    200000             1

In [33]:
result = merged[merged['salary_x'] > merged['salary_y']][['first_name_x','salary_x']]

print(result)

  first_name_x  salary_x
2      Richerd    250000

# **Question 11**

Find all emails with duplicates.

**DataFrame:** employee

In [34]:
employee = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/employee.csv")

print(employee.head())

   id first_name last_name  age sex employee_title  department  salary  \
0   5        Max    George   26   M          Sales       Sales    1300
1  13      Katty      Bond   56   F        Manager  Management  150000
2  11    Richerd      Gear   57   M        Manager  Management  250000
3  10   Jennifer      Dion   34   F          Sales       Sales    1000
4  19     George       Joe   50   M        Manager  Management  100000

   target  bonus                 email        city               address  \
0     200    150       Max@company.com  California  2638 Richards Avenue
1       0    300     Katty@company.com     Arizona                   NaN
2       0    300   Richerd@company.com     Alabama                   NaN
3     200    150  Jennifer@company.com     Alabama                   NaN
4       0    300    George@company.com     Florida     1003 Wyatt Street

   manager_id
0           1
1           1
2           1
3          13
4           1

## **Solution**

In [35]:
cust_count = employee.groupby(['email']).size().to_frame('count').reset_index()
print(cust_count)

                   email  count
0       Adam@company.com      1
1      Allen@company.com      1
2    Antoney@company.com      1
3        Ben@company.com      1
4    Britney@company.com      1
5     Celine@company.com      1
6     George@company.com      1
7      Henry@company.com      1
8       Jack@company.com      1
9      Jason@company.com      1
10  Jennifer@company.com      1
11       Joe@company.com      1
12     Katty@company.com      1
13     Laila@company.com      1
14     Mandy@company.com      1
15      Mark@company.com      1
16       Max@company.com      1
17   Michale@company.com      1
18      Mick@company.com      1
19     Molly@company.com      4
20    Morgan@company.com      1
21   Richerd@company.com      1
22       Sam@company.com      1
23    Sarrah@company.com      1
24  Shandler@company.com      1
25     Suzan@company.com      1
26       Tom@company.com      1

In [36]:
result = cust_count[cust_count['count'] > 1][['email']]

print(result)

                email
19  Molly@company.com

# **Question 12**

Redfin helps clients to find agents.
+ Each client will have a unique request_id
+ and each request_id has several calls.
+ For each request_id, the first call is an “initial call” and all the following calls are “update calls”.

What's the average call duration for all update calls?

**DataFrame:** redfin_call_tracking

In [37]:
# Data

data = {'created_on': ['2020-03-01 04:08:04', '2020-03-01 05:28:47', '2020-03-01 07:27:36', '2020-03-01 13:18:21', '2020-03-01 15:08:08', '2020-03-01 16:27:23', '2020-03-01 17:38:01', '2020-03-01 17:56:39', '2020-03-02 00:10:10', '2020-03-02 00:45:49', '2020-03-02 04:28:44', '2020-03-02 04:52:52', '2020-03-02 05:02:41', '2020-03-02 06:19:56', '2020-03-02 07:25:59', '2020-03-02 08:20:25', '2020-03-02 10:45:35', '2020-03-02 13:38:59', '2020-03-02 15:02:29', '2020-03-02 17:13:13'],
        'request_id': [2, 1, 2, 1, 2, 1, 3, 2, 1, 3, 3, 1, 3, 3, 2, 1, 3, 1, 2, 1],
        'call_duration': [3, 28, 22, 12, 13, 19, 15, 25, 28, 19, 28, 13, 24, 5, 20, 21, 23, 11, 19, 2],
        'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]}
redfin_call_tracking = pd.DataFrame(data)

print(redfin_call_tracking.head())

            created_on  request_id  call_duration  id
0  2020-03-01 04:08:04           2              3   1
1  2020-03-01 05:28:47           1             28   2
2  2020-03-01 07:27:36           2             22   3
3  2020-03-01 13:18:21           1             12   4
4  2020-03-01 15:08:08           2             13   5

## **Solution**

In [38]:
redfin_call_tracking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   created_on     20 non-null     object
 1   request_id     20 non-null     int64
 2   call_duration  20 non-null     int64
 3   id             20 non-null     int64
dtypes: int64(3), object(1)
memory usage: 768.0+ bytes

In [39]:
redfin_call_tracking["created_on"] = pd.to_datetime(redfin_call_tracking["created_on"])
redfin_call_tracking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   created_on     20 non-null     datetime64[ns]
 1   request_id     20 non-null     int64
 2   call_duration  20 non-null     int64
 3   id             20 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 768.0 bytes

In [40]:
first_callid = redfin_call_tracking.groupby(['request_id']).apply(lambda df: df.sort_values("created_on")["id"].iloc[0])
print(first_callid)

request_id
1    2
2    1
3    7
dtype: int64

In [41]:
result = redfin_call_tracking[~redfin_call_tracking['id'].isin(first_callid)]['call_duration'].mean()
print(result)

17.88235294117647

In [42]:
# What is the problem with this approach
first_call = redfin_call_tracking.groupby(['request_id'])['id'].min()
print(first_call)

result1 = redfin_call_tracking[~redfin_call_tracking['id'].isin(first_call)]['call_duration'].mean()
print(result1)

request_id
1    2
2    1
3    7
Name: id, dtype: int64
17.88235294117647

# **Question 13**

Write a query to find which gender gives a higher average review score when writing reviews as guests.

Use the from_type column to identify guest reviews.

Output the gender and their average review score.

**DataFrames:** airbnb_reviews, airbnb_guests

In [43]:
# Data

data = {'guest_id': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
        'nationality': ['Mali', 'China', 'Mali', 'Australia', 'Luxembourg', 'USA', 'Brazil', 'China', 'Australia', 'USA', 'Luxembourg', 'Brazil'],
        'gender': ['M', 'F', 'F', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'F', 'F'],
        'age': [21, 23, 27, 24, 19, 33, 32, 27, 37, 29, 28, 24]}

airbnb_guests = pd.DataFrame(data)

print(airbnb_guests.head())
print("\n\n")

#
airbnb_reviews = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/airbnb_reviews.csv")
print(airbnb_reviews.head())

   guest_id nationality gender  age
0         0        Mali      M   21
1         1       China      F   23
2         2        Mali      F   27
3         3   Australia      F   24
4         4  Luxembourg      M   19



   from_user  to_user from_type to_type  review_score
0          4        2     guest    host             3
1          1        2      host   guest             5
2          8        8     guest    host             9
3          4        0     guest    host             6
4          7        1      host   guest             2

## **Solution**

In [44]:
merged = pd.merge(airbnb_reviews,airbnb_guests, left_on = 'from_user', right_on = 'guest_id')
print(merged.head())

   from_user  to_user from_type to_type  review_score  guest_id nationality  \
0          4        2     guest    host             3         4  Luxembourg
1          4        0     guest    host             6         4  Luxembourg
2          4        6     guest    host             9         4  Luxembourg
3          4        4     guest    host             1         4  Luxembourg
4          4        2     guest    host             0         4  Luxembourg

  gender  age
0      M   19
1      M   19
2      M   19
3      M   19
4      M   19

In [45]:
guest = merged[merged['from_type'] == 'guest']
print(guest.head())

   from_user  to_user from_type to_type  review_score  guest_id nationality  \
0          4        2     guest    host             3         4  Luxembourg
1          4        0     guest    host             6         4  Luxembourg
2          4        6     guest    host             9         4  Luxembourg
3          4        4     guest    host             1         4  Luxembourg
4          4        2     guest    host             0         4  Luxembourg

  gender  age
0      M   19
1      M   19
2      M   19
3      M   19
4      M   19

In [46]:
guest_summary = guest.groupby(['gender'])['review_score'].mean().to_frame('avg_score').reset_index()
print(guest_summary)

  gender  avg_score
0      F   5.008850
1      M   5.526316

In [47]:
result = guest_summary[guest_summary['avg_score'] == guest_summary['avg_score'].max()]

print(result)

  gender  avg_score
1      M   5.526316

# **Question 14**

Compare each employee's salary with the average salary of the corresponding department.

Output the department, first name, and salary of employees along with the average salary of that department.

**DataFrame:** employee

In [48]:
employee = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/employee.csv")

print(employee.head())

   id first_name last_name  age sex employee_title  department  salary  \
0   5        Max    George   26   M          Sales       Sales    1300
1  13      Katty      Bond   56   F        Manager  Management  150000
2  11    Richerd      Gear   57   M        Manager  Management  250000
3  10   Jennifer      Dion   34   F          Sales       Sales    1000
4  19     George       Joe   50   M        Manager  Management  100000

   target  bonus                 email        city               address  \
0     200    150       Max@company.com  California  2638 Richards Avenue
1       0    300     Katty@company.com     Arizona                   NaN
2       0    300   Richerd@company.com     Alabama                   NaN
3     200    150  Jennifer@company.com     Alabama                   NaN
4       0    300    George@company.com     Florida     1003 Wyatt Street

   manager_id
0           1
1           1
2           1
3          13
4           1

## **Solution**

In [49]:
emp_mean = employee.groupby(['department'])['salary'].mean()
emp_mean

department
Audit            950.000000
Management    175000.000000
Sales           1336.363636
Name: salary, dtype: float64

In [50]:
employee['avg_salary'] = employee.groupby(['department'])['salary'].transform('mean')
result = employee[['department','first_name','salary','avg_salary']]

print(result)

    department first_name  salary     avg_salary
0        Sales        Max    1300    1336.363636
1   Management      Katty  150000  175000.000000
2   Management    Richerd  250000  175000.000000
3        Sales   Jennifer    1000    1336.363636
4   Management     George  100000  175000.000000
5        Sales      Laila    1000    1336.363636
6        Sales     Sarrah    2000    1336.363636
7        Sales      Suzan    1300    1336.363636
8        Sales      Mandy    1300    1336.363636
9        Sales    Britney    1200    1336.363636
10       Sales       Jack    1300    1336.363636
11       Sales        Ben    1300    1336.363636
12       Sales        Tom    1200    1336.363636
13       Sales    Antoney    1300    1336.363636
14       Sales     Morgan    1200    1336.363636
15       Sales      Molly    1400    1336.363636
16       Sales      Nicky    1400    1336.363636
17       Sales     Monika    1000    1336.363636
18       Sales       Mick    2200    1336.363636
19       Audit   Shandler    1100     950.000000
20       Audit      Jason    1000     950.000000
21       Audit     Celine    1000     950.000000
22       Audit    Michale     700     950.000000
23       Sales       Adam    1300    1336.363636
24       Sales       Mark    1200    1336.363636
25       Sales       John    1500    1336.363636
26  Management      Allen  200000  175000.000000
27       Sales        Joe    1000    1336.363636
28       Sales      Henry    2000    1336.363636
29       Sales        Sam    1000    1336.363636

# **Question 15**

Given a list of projects and employees mapped to each project, calculate by the amount of project budget allocated to each employee (total budget of the project / number of employee of the project).

The output should include the project title and the project budget rounded to the closest integer.

Order your list by projects with the highest budget per employee first.

**DataFrames:** ms_projects, ms_emp_projects

In [51]:
# Data
ms_projects = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/ms_projects.csv")
print(ms_projects.head())
print("\n\n")

ms_emp_projects = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/ms_emp_projects.csv")
print(ms_emp_projects.head())

   id     title  budget
0   1  Project1   29498
1   2  Project2   32487
2   3  Project3   43909
3   4  Project4   15776
4   5  Project5   36268



   emp_id  project_id
0   10592           1
1   10593           2
2   10594           3
3   10595           4
4   10596           5

## **Solution**

In [52]:
df=pd.merge(ms_projects, ms_emp_projects, how = 'inner',left_on = ['id'], right_on=['project_id'])
print(df.head())

   id     title  budget  emp_id  project_id
0   1  Project1   29498   10592           1
1   1  Project1   29498   10642           1
2   2  Project2   32487   10593           2
3   2  Project2   32487   10643           2
4   3  Project3   43909   10594           3

In [53]:
df1=df.groupby(['title','budget'])['emp_id'].size().reset_index()
df1 = df1.rename(columns = {"emp_id": "size"})
print(df1.head())

       title  budget  size
0   Project1   29498     2
1  Project10   47587     2
2  Project11   11705     2
3  Project12   10468     2
4  Project13   43238     2

In [54]:
df1['budget_emp_ratio'] = (df1['budget']/df1['size']).round()
print(df1.head())

       title  budget  size  budget_emp_ratio
0   Project1   29498     2           14749.0
1  Project10   47587     2           23794.0
2  Project11   11705     2            5852.0
3  Project12   10468     2            5234.0
4  Project13   43238     2           21619.0

In [55]:
df2=df1.sort_values(by='budget_emp_ratio',ascending=False)
result = df2[["title","budget_emp_ratio"]]

print(result)

        title  budget_emp_ratio
48   Project8           24642.0
43  Project49           24387.0
6   Project15           24058.0
1   Project10           23794.0
10  Project19           22493.0
41  Project47           22386.0
39  Project45           22266.0
22   Project3           21954.0
20  Project28           21828.0
4   Project13           21619.0
34  Project40           21470.0
24  Project31           20990.0
42  Project48           20814.0
15  Project23           20808.0
46   Project6           20806.0
17  Project25           19454.0
44   Project5           18134.0
18  Project26           18095.0
47   Project7           17002.0
11   Project2           16244.0
49   Project9           16170.0
26  Project33           15055.0
5   Project14           15007.0
0    Project1           14749.0
32  Project39           12971.0
37  Project43           12872.0
35  Project41           12694.0
36  Project42           12467.0
13  Project21           12165.0
23  Project30           12006.0
28  Project35           11966.0
38  Project44           11442.0
31  Project38           10822.0
7   Project16            9961.0
12  Project20            9748.0
8   Project17            9530.0
45  Project50            9458.0
14  Project22            9295.0
27  Project34            8172.0
33   Project4            7888.0
19  Project27            6308.0
25  Project32            6178.0
16  Project24            5959.0
2   Project11            5852.0
21  Project29            5468.0
3   Project12            5234.0
9   Project18            5151.0
40  Project46            4912.0
30  Project37            4403.0
29  Project36            2338.0

# **Question 16**

Find details of the business with the highest number of high-risk violations.

Output all columns from the dataset considering business_id which consist 'high risk' phrase in risk_category column.

**DataFrame:** sf_restaurant_health_violations

In [56]:
# Data
import pandas as pd
sf_restaurant_health_violations = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/sf_restaurant_health_violations.csv")
print(sf_restaurant_health_violations.head())

   business_id                   business_name   business_address  \
0         5800     John Chin Elementary School    350 Broadway St
1        64236       Sutter Pub and Restaurant      700 Sutter St
2         1991                SRI THAI CUISINE   4621 LINCOLN Way
3         3816  Washington Bakery & Restaurant  733 Washington St
4        39119             Brothers Restaurant    4128 GEARY Blvd

   business_city business_state  business_postal_code  business_latitude  \
0  San Francisco             CA               94133.0             37.798
1  San Francisco             CA               94102.0             37.789
2  San Francisco             CA               94122.0             37.764
3  San Francisco             CA               94108.0             37.795
4  San Francisco             CA               94118.0             37.781

   business_longitude                                  business_location  \
0            -122.403  {'longitude': '-122.403154', 'needs_recoding':...
1            -122.412  {'longitude': '-122.41188', 'needs_recoding': ...
2            -122.508  {'longitude': '-122.507779', 'needs_recoding':...
3            -122.406  {'longitude': '-122.405845', 'needs_recoding':...
4            -122.464  {'longitude': '-122.463762', 'needs_recoding':...

   business_phone_number   inspection_id     inspection_date  \
0                    NaN   5800_20171017  2017-10-17 0:00:00
1                    NaN  64236_20170725  2017-07-25 0:00:00
2                    NaN   1991_20171129  2017-11-29 0:00:00
3                    NaN   3816_20160728  2016-07-28 0:00:00
4                    NaN  39119_20160718  2016-07-18 0:00:00

   inspection_score        inspection_type           violation_id  \
0              98.0  Routine - Unscheduled   5800_20171017_103149
1              88.0  Routine - Unscheduled  64236_20170725_103133
2              86.0  Routine - Unscheduled   1991_20171129_103139
3              67.0  Routine - Unscheduled   3816_20160728_103108
4              79.0  Routine - Unscheduled  39119_20160718_103133

                               violation_description  risk_category
0  Wiping cloths not clean or properly stored or ...       Low Risk
1             Foods not protected from contamination  Moderate Risk
2                              Improper food storage       Low Risk
3                   Contaminated or adulterated food      High Risk
4             Foods not protected from contamination  Moderate Risk

## **Solution**

In [57]:
high_risk = sf_restaurant_health_violations[sf_restaurant_health_violations['risk_category'] == 'High Risk']
print(high_risk.head())

    business_id                   business_name    business_address  \
3          3816  Washington Bakery & Restaurant   733 Washington St
5          6643               T & L FOOD MARKET         405 EDDY St
8         68872   Jiang Ling Cuisine Restaurant  2517 SAN BRUNO Ave
15        79414                      Home Plate     2274 Lombard St
21        61861                              SO      1010 BRYANT St

    business_city business_state  business_postal_code  business_latitude  \
3   San Francisco             CA               94108.0             37.795
5   San Francisco             CA               94109.0             37.784
8   San Francisco             CA               94134.0             37.730
15  San Francisco             CA               94123.0                NaN
21  San Francisco             CA               94103.0             37.772

    business_longitude                                  business_location  \
3             -122.406  {'longitude': '-122.405845', 'needs_recoding':...
5             -122.414  {'longitude': '-122.414341', 'needs_recoding':...
8             -122.405  {'longitude': '-122.404526', 'needs_recoding':...
15                 NaN                                                NaN
21            -122.407  {'longitude': '-122.407339', 'needs_recoding':...

    business_phone_number   inspection_id     inspection_date  \
3                     NaN   3816_20160728  2016-07-28 0:00:00
5                     NaN   6643_20160609  2016-06-09 0:00:00
8                     NaN  68872_20171212  2017-12-12 0:00:00
15                    NaN  79414_20161017  2016-10-17 0:00:00
21                    NaN  61861_20171214  2017-12-14 0:00:00

    inspection_score        inspection_type           violation_id  \
3               67.0  Routine - Unscheduled   3816_20160728_103108
5               69.0  Routine - Unscheduled   6643_20160609_103102
8               72.0  Routine - Unscheduled  68872_20171212_103105
15              67.0  Routine - Unscheduled  79414_20161017_103103
21              85.0  Routine - Unscheduled  61861_20171214_103105

                      violation_description risk_category
3          Contaminated or adulterated food     High Risk
5   Unclean hands or improper use of gloves     High Risk
8                  Improper cooling methods     High Risk
15       High risk food holding temperature     High Risk
21                 Improper cooling methods     High Risk

In [58]:
busy_name = high_risk.groupby(['business_name']).size().to_frame('size').reset_index()
print(busy_name.head(10))

                 business_name  size
0  7-Eleven, Store 2366-21389F     1
1                    Azalina's     1
2            CHA-AM RESTAURANT     1
3      Castagnola's Restaurant     1
4                Cathead's BBQ     1
5                  Chez Julien     1
6                      Da Cafe     4
7               Elephant Sushi     1
8     Gateway High/Kip Schools     1
9                   Golden Wok     1

In [59]:
busy_name = busy_name[busy_name['size']==busy_name['size'].max()]
print(busy_name)
print("\n\n")

#busy_name_list = list(busy_name["business_name"])
#print(busy_name_list)

  business_name  size
6       Da Cafe     4

In [60]:
result = sf_restaurant_health_violations[sf_restaurant_health_violations['business_name'].isin(busy_name["business_name"])]
print(result)

     business_id business_name business_address  business_city business_state  \
279        86647       Da Cafe   407 Clement St  San Francisco             CA
284        86647       Da Cafe   407 Clement St  San Francisco             CA
285        86647       Da Cafe   407 Clement St  San Francisco             CA
286        86647       Da Cafe   407 Clement St  San Francisco             CA

     business_postal_code  business_latitude  business_longitude  \
279               94118.0                NaN                 NaN
284               94118.0                NaN                 NaN
285               94118.0                NaN                 NaN
286               94118.0                NaN                 NaN

    business_location  business_phone_number   inspection_id  \
279               NaN                    NaN  86647_20160907
284               NaN                    NaN  86647_20160907
285               NaN                    NaN  86647_20160907
286               NaN                    NaN  86647_20160907

        inspection_date  inspection_score        inspection_type  \
279  2016-09-07 0:00:00              48.0  Routine - Unscheduled
284  2016-09-07 0:00:00              48.0  Routine - Unscheduled
285  2016-09-07 0:00:00              48.0  Routine - Unscheduled
286  2016-09-07 0:00:00              48.0  Routine - Unscheduled

              violation_id                        violation_description  \
279  86647_20160907_103112                No hot water or running water
284  86647_20160907_103109  Unclean or unsanitary food contact surfaces
285  86647_20160907_103102      Unclean hands or improper use of gloves
286  86647_20160907_103114                 High risk vermin infestation

    risk_category
279     High Risk
284     High Risk
285     High Risk
286     High Risk

## **Question 17**

Find the number of inspections that happened in the municipality with postal code 94102 during January, May or November in each year.

Output the count of each month separately.

**DataFrame:** sf_restaurant_health_violations

In [61]:
sf_restaurant_health_violations = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/sf_restaurant_health_violations.csv")
print(sf_restaurant_health_violations.head())

   business_id                   business_name   business_address  \
0         5800     John Chin Elementary School    350 Broadway St
1        64236       Sutter Pub and Restaurant      700 Sutter St
2         1991                SRI THAI CUISINE   4621 LINCOLN Way
3         3816  Washington Bakery & Restaurant  733 Washington St
4        39119             Brothers Restaurant    4128 GEARY Blvd

   business_city business_state  business_postal_code  business_latitude  \
0  San Francisco             CA               94133.0             37.798
1  San Francisco             CA               94102.0             37.789
2  San Francisco             CA               94122.0             37.764
3  San Francisco             CA               94108.0             37.795
4  San Francisco             CA               94118.0             37.781

   business_longitude                                  business_location  \
0            -122.403  {'longitude': '-122.403154', 'needs_recoding':...
1            -122.412  {'longitude': '-122.41188', 'needs_recoding': ...
2            -122.508  {'longitude': '-122.507779', 'needs_recoding':...
3            -122.406  {'longitude': '-122.405845', 'needs_recoding':...
4            -122.464  {'longitude': '-122.463762', 'needs_recoding':...

   business_phone_number   inspection_id     inspection_date  \
0                    NaN   5800_20171017  2017-10-17 0:00:00
1                    NaN  64236_20170725  2017-07-25 0:00:00
2                    NaN   1991_20171129  2017-11-29 0:00:00
3                    NaN   3816_20160728  2016-07-28 0:00:00
4                    NaN  39119_20160718  2016-07-18 0:00:00

   inspection_score        inspection_type           violation_id  \
0              98.0  Routine - Unscheduled   5800_20171017_103149
1              88.0  Routine - Unscheduled  64236_20170725_103133
2              86.0  Routine - Unscheduled   1991_20171129_103139
3              67.0  Routine - Unscheduled   3816_20160728_103108
4              79.0  Routine - Unscheduled  39119_20160718_103133

                               violation_description  risk_category
0  Wiping cloths not clean or properly stored or ...       Low Risk
1             Foods not protected from contamination  Moderate Risk
2                              Improper food storage       Low Risk
3                   Contaminated or adulterated food      High Risk
4             Foods not protected from contamination  Moderate Risk

## **Solution**

In [62]:
sf_restaurant_health_violations.inspection_date = pd.to_datetime(sf_restaurant_health_violations.inspection_date)

In [63]:
sf = sf_restaurant_health_violations[(sf_restaurant_health_violations.inspection_date.dt.month.isin([1,5,11])) & (sf_restaurant_health_violations.business_postal_code == 94102)]
print(sf.head())

     business_id              business_name          business_address  \
37         64682                      Straw            203 Octavia St
90          3642            ABSINTHE PASTRY                201 IVY St
186        10238  King of Thai Noodle House          184 O'Farrell St
199        91276                     A Mano  450 Hayes St., Suite C-2
232        79667                Chez Julien          100 Bush St #110

     business_city business_state  business_postal_code  business_latitude  \
37   San Francisco             CA               94102.0             37.774
90   San Francisco             CA               94102.0             37.777
186  San Francisco             CA               94102.0             37.786
199  San Francisco             CA               94102.0                NaN
232  San Francisco             CA               94102.0                NaN

     business_longitude                                  business_location  \
37             -122.424  {'longitude': '-122.42419', 'needs_recoding': ...
90             -122.421  {'longitude': '-122.421458', 'needs_recoding':...
186            -122.408  {'longitude': '-122.407764', 'needs_recoding':...
199                 NaN                                                NaN
232                 NaN                                                NaN

     business_phone_number   inspection_id inspection_date  inspection_score  \
37                     NaN  64682_20160129      2016-01-29              86.0
90                     NaN   3642_20170510      2017-05-10              92.0
186                    NaN  10238_20180508      2018-05-08              76.0
199                    NaN  91276_20170505      2017-05-05               NaN
232           1.415539e+10  79667_20160510      2016-05-10              83.0

           inspection_type           violation_id  \
37   Routine - Unscheduled  64682_20160129_103142
90   Routine - Unscheduled   3642_20170510_103142
186  Routine - Unscheduled  10238_20180508_103133
199       New Construction                    NaN
232  Routine - Unscheduled  79667_20160510_103104

                                 violation_description  risk_category
37                    Unclean nonfood contact surfaces       Low Risk
90                    Unclean nonfood contact surfaces       Low Risk
186             Foods not protected from contamination  Moderate Risk
199                                                NaN            NaN
232  Unauthorized or unsafe use of time as a public...      High Risk

In [64]:
result = sf.groupby([sf.inspection_date.dt.year, sf.inspection_date.dt.month]).size()#.unstack(fill_value=0).reset_index()
#result.index.names = (result.index.names[0] + "_year", result.index.names[0] + "_month")
print(result)

inspection_date  inspection_date
2016             1                  1
                 5                  1
                 11                 1
2017             5                  2
2018             5                  1
dtype: int64

# **Question 18**

Find a neighborhood where you can sleep on a real bed in a villa with internet while paying the lowest price possible.

**DataFrame:** airbnb_search_details

In [65]:
# Data
airbnb_search_details = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/airbnb_search_details.csv")

print(airbnb_search_details.head())

   Unnamed: 0        id   price property_type        room_type  \
0           0  12513361  555.68     Apartment  Entire home/apt
1           1   7196412  366.36         Cabin     Private room
2           2  16333776  482.83         House     Private room
3           3   1786412  448.86     Apartment     Private room
4           4  14575777  506.89         Villa     Private room

                                           amenities  accommodates  bathrooms  \
0  {TV,"Wireless Internet","Air conditioning","Sm...             2          1
1  {"Wireless Internet",Kitchen,Washer,Dryer,"Smo...             2          3
2  {TV,"Cable TV",Internet,"Wireless Internet",Ki...             2          1
3  {"Wireless Internet","Air conditioning",Kitche...             2          1
4  {TV,Internet,"Wireless Internet","Air conditio...             6          2

   bed_type cancellation_policy  ...  city host_identity_verified  \
0  Real Bed            flexible  ...   NYC                      t
1  Real Bed            moderate  ...    LA                      f
2  Real Bed              strict  ...    SF                      t
3  Real Bed              strict  ...   NYC                      t
4  Real Bed              strict  ...    LA                      t

  host_response_rate          host_since      neighbourhood number_of_reviews  \
0                89%  2015-11-18 0:00:00        East Harlem                 3
1               100%  2016-09-10 0:00:00        Valley Glen                14
2               100%  2013-12-26 0:00:00  Richmond District               117
3                93%  2010-05-11 0:00:00       Williamsburg                 8
4                70%  2015-10-22 0:00:00                NaN                 2

   review_scores_rating  zipcode  bedrooms  beds
0                  87.0    10029         0     1
1                  91.0    91606         1     1
2                  96.0    94118         1     1
3                  86.0    11211         1     1
4                 100.0    90703         3     3

[5 rows x 21 columns]

## **Solution**

In [66]:
filtered = airbnb_search_details[(airbnb_search_details['bed_type'] == 'Real Bed') & (airbnb_search_details['property_type'] == 'Villa') & (airbnb_search_details['amenities'].str.contains('internet', case=False))]
print(filtered.head())

   Unnamed: 0        id   price property_type        room_type  \
4           4  14575777  506.89         Villa     Private room
5           5  20515889  720.79         Villa  Entire home/apt
6           6  13783491  516.48         Villa     Private room
7           7   6591755  529.33         Villa  Entire home/apt
8           8   5203241  679.68         Villa  Entire home/apt

                                           amenities  accommodates  bathrooms  \
4  {TV,Internet,"Wireless Internet","Air conditio...             6          2
5  {TV,"Cable TV",Internet,"Wireless Internet",Ki...             8          3
6  {TV,"Cable TV",Internet,"Wireless Internet","A...             2          1
7  {TV,"Cable TV",Internet,"Wireless Internet",Ki...            16          3
8  {TV,"Cable TV",Internet,"Wireless Internet","A...             6          2

   bed_type cancellation_policy  ...  city host_identity_verified  \
4  Real Bed              strict  ...    LA                      t
5  Real Bed              strict  ...    LA                      f
6  Real Bed              strict  ...    LA                      t
7  Real Bed              strict  ...    LA                      t
8  Real Bed              strict  ...    LA                      t

  host_response_rate          host_since        neighbourhood  \
4                70%  2015-10-22 0:00:00                  NaN
5                20%  2014-05-26 0:00:00              Topanga
6                90%  2015-08-20 0:00:00      Hollywood Hills
7                91%  2016-01-16 0:00:00           Long Beach
8               100%  2017-08-17 0:00:00  Rancho Palos Verdes

  number_of_reviews  review_scores_rating  zipcode  bedrooms  beds
4                 2                 100.0    90703         3     3
5                 0                   NaN    90265         3     4
6                 1                 100.0    90046         1     1
7                88                  90.0    90803         4     6
8                 1                 100.0    90275         2     4

[5 rows x 21 columns]

In [67]:
filtered_grp = filtered.groupby(['neighbourhood'])['price'].min().to_frame().reset_index()
print(filtered_grp)

         neighbourhood   price
0       Harbor Gateway  485.98
1      Hollywood Hills  516.48
2           Long Beach  459.51
3               Malibu  633.51
4  Rancho Palos Verdes  679.68
5        Redondo Beach  599.15
6          Temple City  485.20
7              Topanga  469.13

In [68]:
print(filtered_grp.sort_values("price").iloc[0])

#print(filtered_grp.iloc[filtered_grp['price'].idxmin()]['neighbourhood'])

neighbourhood    Long Beach
price                459.51
Name: 2, dtype: object

# **Question 19**

For each day, find a merchant who earned the highest amount on a previous day.

Round total amount to 2 decimals and do that before comparing totals between different merchants.

Output the date and the name of the merchant but only for the days where the data from the previous day are available.

In the case of multiple merchants having the same highest shared amount, your output should include all the names in different rows.

**DataFrames:** doordash_orders, doordash_merchants

In [69]:
# Data
doordash_orders = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/doordash_orders.csv")
print(doordash_orders.head(10))
print("\n\n")

doordash_merchants = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/doordash_merchants.csv")
print(doordash_merchants.head())

   id  customer_id  merchant_id      order_timestamp  n_items  \
0  27         1053            1  2022-01-14 14:41:11        9
1  22         1049            1  2022-01-14 22:46:54        8
2  46         1050            2   2022-01-14 2:11:24       13
3  26         1052            2   2022-01-14 8:11:58        9
4  48         1051            2  2022-01-14 14:21:15       14
5  16         1050            2  2022-01-14 15:33:29        7
6  12         1052            2  2022-01-14 18:20:07        6
7  17         1050            3  2022-01-14 19:34:39        7
8  11         1051            5   2022-01-14 5:32:38        6
9  47         1053            5   2022-01-14 8:20:02       14

   total_amount_earned
0                12.47
1                 2.63
2                13.90
3                17.28
4                15.18
5                 7.78
6                 8.37
7                11.10
8                 5.56
9                19.49



   id             name   category  zipcode
0   1  Treehouse Pizza   american    92507
1   2        Thai Lion      asian    90017
2   3       Meal Raven  fast food    95204
3   4        Burger A1   american    93401
4   5        Sushi Bay      asian    92121

## **Solution**

In [70]:
doordash_orders['order_date'] = pd.to_datetime(doordash_orders['order_timestamp']).dt.date
print(doordash_orders.head())

   id  customer_id  merchant_id      order_timestamp  n_items  \
0  27         1053            1  2022-01-14 14:41:11        9
1  22         1049            1  2022-01-14 22:46:54        8
2  46         1050            2   2022-01-14 2:11:24       13
3  26         1052            2   2022-01-14 8:11:58        9
4  48         1051            2  2022-01-14 14:21:15       14

   total_amount_earned  order_date
0                12.47  2022-01-14
1                 2.63  2022-01-14
2                13.90  2022-01-14
3                17.28  2022-01-14
4                15.18  2022-01-14

In [71]:
total_orders = doordash_orders.groupby(['order_date', 'merchant_id'])['total_amount_earned'].sum().reset_index().rename(columns={'total_amount_earned':'daily_total'})
total_orders['daily_total'] = total_orders['daily_total'].round(2)
print(total_orders.head())

   order_date  merchant_id  daily_total
0  2022-01-14            1        15.10
1  2022-01-14            2        62.51
2  2022-01-14            3        11.10
3  2022-01-14            5        27.21
4  2022-01-14            6        16.30

In [72]:
total_orders = total_orders.merge(doordash_merchants[['name','id']], left_on='merchant_id', right_on='id')
print(total_orders.head())

   order_date  merchant_id  daily_total             name  id
0  2022-01-14            1        15.10  Treehouse Pizza   1
1  2022-01-15            1        42.06  Treehouse Pizza   1
2  2022-01-16            1        26.40  Treehouse Pizza   1
3  2022-01-14            2        62.51        Thai Lion   2
4  2022-01-15            2        42.06        Thai Lion   2

In [73]:
total_orders['next_day'] = total_orders['order_date'] + pd.Timedelta(1, 'd')
print(total_orders.head())

   order_date  merchant_id  daily_total             name  id    next_day
0  2022-01-14            1        15.10  Treehouse Pizza   1  2022-01-15
1  2022-01-15            1        42.06  Treehouse Pizza   1  2022-01-16
2  2022-01-16            1        26.40  Treehouse Pizza   1  2022-01-17
3  2022-01-14            2        62.51        Thai Lion   2  2022-01-15
4  2022-01-15            2        42.06        Thai Lion   2  2022-01-16

In [74]:
highest_amounts = total_orders.groupby(['next_day'])['daily_total'].max().reset_index()
print(highest_amounts.head())

     next_day  daily_total
0  2022-01-15        62.51
1  2022-01-16        42.06
2  2022-01-17        74.41

In [75]:
highest_earned = pd.merge(highest_amounts, total_orders, on=['next_day', 'daily_total'])
print(highest_earned.head())

     next_day  daily_total  order_date  merchant_id             name  id
0  2022-01-15        62.51  2022-01-14            2        Thai Lion   2
1  2022-01-16        42.06  2022-01-15            1  Treehouse Pizza   1
2  2022-01-16        42.06  2022-01-15            2        Thai Lion   2
3  2022-01-16        42.06  2022-01-15            3       Meal Raven   3
4  2022-01-17        74.41  2022-01-16            3       Meal Raven   3

In [76]:
result = highest_earned[['next_day', 'name']].rename(columns={'next_day': 'date'})

print(result)

         date             name
0  2022-01-15        Thai Lion
1  2022-01-16  Treehouse Pizza
2  2022-01-16        Thai Lion
3  2022-01-16       Meal Raven
4  2022-01-17       Meal Raven

# **Question 20**

Find employees who have worked for Uber for more than 2 years (730 days) and check to see if they're still part of the company.

Output 'Yes' if they are and 'No' if they are not.

Use May 1, 2021 as your date of reference when calculating whether they have worked for more than 2 years since their hire date.

Output the first name, last name, whether or not the employee is still working for Uber, and the number of years at the company.

**DataFrame:** uber_employees

In [77]:
# Data
uber_employees = pd.read_csv("https://github.com/statrliu/ds_datasets/raw/main/uber_employees.csv")
print(uber_employees.head())

  first_name last_name  id           hire_date    termination_date  salary
0        Bob     Smith   1  2009-02-03 0:00:00  2016-01-01 0:00:00   10000
1        Joe    Jarrod   2  2009-02-03 0:00:00                 NaN   20000
2      Nancy     Soley   3  2009-02-03 0:00:00                 NaN   30000
3      Keith   Widjaja   4  2009-04-15 0:00:00  2014-01-01 0:00:00   20000
4      Kelly    Smalls   5  2009-02-03 0:00:00                 NaN   20000

## **Solution**

In [78]:
uber_employees['hire_date'] = pd.to_datetime(uber_employees['hire_date'])
uber_employees['termination_date'] = pd.to_datetime(uber_employees['termination_date'])
print(uber_employees.head())

  first_name last_name  id  hire_date termination_date  salary
0        Bob     Smith   1 2009-02-03       2016-01-01   10000
1        Joe    Jarrod   2 2009-02-03              NaT   20000
2      Nancy     Soley   3 2009-02-03              NaT   30000
3      Keith   Widjaja   4 2009-04-15       2014-01-01   20000
4      Kelly    Smalls   5 2009-02-03              NaT   20000

In [79]:
uber_employees['years_spent'] = ((uber_employees['termination_date'].fillna(pd.to_datetime('2021-05-01')) - uber_employees['hire_date']).dt.days)/365
print(uber_employees.head())

  first_name last_name  id  hire_date termination_date  salary  years_spent
0        Bob     Smith   1 2009-02-03       2016-01-01   10000     6.912329
1        Joe    Jarrod   2 2009-02-03              NaT   20000    12.246575
2      Nancy     Soley   3 2009-02-03              NaT   30000    12.246575
3      Keith   Widjaja   4 2009-04-15       2014-01-01   20000     4.717808
4      Kelly    Smalls   5 2009-02-03              NaT   20000    12.246575

In [80]:
uber_employees['still_employed'] = uber_employees['termination_date'].apply(lambda x: 'Yes' if pd.isnull(x) else 'No')

result = uber_employees[uber_employees['years_spent'] >2][['first_name','last_name', 'years_spent', 'still_employed']]

print(result)
print(result.still_employed.value_counts(normalize = True))

   first_name last_name  years_spent still_employed
0         Bob     Smith     6.912329             No
1         Joe    Jarrod    12.246575            Yes
2       Nancy     Soley    12.246575            Yes
3       Keith   Widjaja     4.717808             No
4       Kelly    Smalls    12.246575            Yes
..        ...       ...          ...            ...
85        Eve      John     2.950685            Yes
86        Kai      Luca     2.945205            Yes
91       Sana     Pital     2.356164            Yes
92       Jaya    Ananya     2.279452            Yes
93    Mohamed     Saeed     2.117808            Yes

[71 rows x 4 columns]
No     0.577465
Yes    0.422535
Name: still_employed, dtype: float64