<a href="https://colab.research.google.com/github/statrliu/data_bootcamp_part1/blob/main/Introduction_to_Python_for_Data_Science_lecture1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Full Cycle of a Data Science Project**
  1. Defining the Problem to Solve
  2. Collecting Data
  3. Manipulating Data
  4. Building, Evaluating, and Selecting Models
  5. Delivering Results

# **Overview of Data Manipulation**
+ Cleaning the data
  + Investigating errors/inconsistency/outliers
  + Investigating missing values
+ Formating and combining multiple data sets
+ Generating new features

# **Python for Data Science**

In [ ]:
# Check Python version
import sys
sys.version

## _Object and Type (Class)_

**Object:** An object can hold data (attributes) and perform operations (methods). For example:
+ An integer object can hold integer values and support arithmetic operations such as addition and subtraction.
+ A string object can hold text values and support operations such as concatenation and substring extraction.

**Type/Class:** A Python type is a classification of objects based on their characteristics and the operations they support.

***In Python, almost everything is an object.***

Useful functions:

+ use `type()` to find the type of an object.
+ use `isinstance()` to check if the object is of the specified type.
+ use `dir()` to list all the *'visible'* attributes of the object.

In [ ]:
#using build in type() function
print(type(10))
print(type(1.5))

print(dir(10))

Access an object's data/method using `.` notation

In [ ]:
print((10).real)
print(str(10)) # convert a integer to a string
print((10).__str__()) # same as str(10)

**Variables (Object reference)**

Python do not store values directly; they store references (pointers) to objects in memory.

When you create a variable in Python, you are essentially creating a name that references an object in memory.

For example, if you create a variable `x` and assign it a value of 25, Python
1. creates an integer object with a value of 5
2. stores this object somewhere in the memeory.
3. creat a variable(name) and assigns to the variable `x` the reference to that object  

Then, you can perform operations on that object by reference it use `x`.

Find the unique id (memory address) for an object.

In [ ]:
# Using build in id() function
print(id(20), end = '\n\n')
print(id("data"))

**Assignment Statement:**

In [ ]:
small_int = 10 # snake case
largeFloat = 1234567.89 # camel case
HighVolumn = 6789 # pascal case

print(small_int)

**Naming rules:**

+ A variable name must start with a letter or the underscore character

+ A variable name can only contain alpha-numeric characters and underscores `(A-z, 0-9, and _ )`

+ Variable names are case-sensitive (`sd` and `SD` are different )

+ A name cannot coincide with one of Pythonâ€™s reserved words (keywords). https://docs.python.org/3.9/reference/lexical_analysis.html#keywords

+ Using meaningfull names (`counter` is better than `c`)

## *Mutable and Immutable Objects*

In Python, objects are either immutable or mutable.

**Imutable Object**

An object is immutable if its value cannot be changed after it is created.

+ If you want to change the value of an immutable object, you must create a new object with the desired value.
+ Examples of immutable objects in Python include numbers (`int`, `float`), strings, and tuples.

**Mutable Object**

An object is mutable if its value can be changed after it is created.

+ Changes to mutable objects affect the original object, rather than creating a new object.
+ Examples of mutable objects in Python include lists,dictionaries, and sets.

**Question**
```
v1 = 10
id_before = id(v1)
v1 = v1 + 20
id_after = id(v1)
```
Does `id_before` equal to `id_after`?

**Question**

`v_str = 'python'`

What will happen when the following statement runs

`v_str[0] = 'P'`?

## _Fundamental Data Types_

### **Integer and Float**
Python `int` type is used for integer numbers (positive and negative)

Python `float` type (floating-point) represents a real number with a fractional part

In [ ]:
# integers
print(type(3))
print(type(100_000))

In [ ]:
# real numbers
print(type(3.0)) # A float with a decimal point
print(type(2.0e-4)) # # A float with an exponent

Type conversion

In [ ]:
# int to float
print(float(3_000))

# float to int.
print(int(3.6415)) # truncation, cut the fraction part.
print(int(-3.6415))

**Note:** Floating numbers in computer are just approximations.
(https://docs.python.org/3/tutorial/floatingpoint.html)

**Question**

Is the following statement true in Python?

"The result of 0.1 + 0.1 + 0.1 equals to 0.3"

In [ ]:

# format(0.1, '.20f')

When dealing with float numbers, don't use `==` for equality comparision. Use `isclose` funtion in the `math` module.

In [ ]:
import math
math.isclose(0.1 + 0.1 + 0.1, 0.3, rel_tol = 0.001, abs_tol = 0.001)

#### *Arithmetic Operators*

In [ ]:
# +, - as unary operators
print(+5)
print(-12.5)

In [ ]:
# +, - as binary operators
print(3 + 5)
print(3 - 10.5)

In [ ]:
# multipication and exponentiation
print(5 * 3)

print(4 ** 3)

**Questions**
1. What is the type of `3 + 5.0`? `integer or float`?

2. What is the type of `3 ** 2.0` `integer or float`?

In [ ]:
# True division '/' always return a float
print(4/2)
type(4/2)

**Floor Division "//":**

Divides one number by another and returns the largest "integer" value that is less than or equal to the result of the true division.

The returned `integer` value can be of either `int` or `float` type, depending the type of the operands.

In [ ]:
# Returns a int object
print(7//3)

print(7/-3)

**Question**

What is the result of `8.4//2` ?

**Question**

What is the type of `8//2.0` ? `int or float`?

**Modulo "%":**

Returns the remainder of dividing one number by another.

Python uses the following equation to find the remainder (`m % n`):
```
m = n * (m//n) + m % n
or
m % n = m - n * (m//n)
```

In [ ]:
print(17//3)
print(17%3)
print(3 * (17//3) + (17%3), end ='\n\n')

In [ ]:
print(-17//3)
print(-17%3)
print(3 * (-17//3) + (-17%3), end ='\n\n' )

**Question**

Is `17%-3` equal to 1?

**Round() function**

The `round()` function in Python is used to round a floating-point number to a specified number of decimal places or to the nearest integer. The function takes two arguments:
+ the number to be rounded,
+ an optional second argument that specifies the number of decimal places to round to.

In [ ]:
print(round(1233.1415))
print(round(1233.1415, 2))

**Question**

What is the result of `round(1233.1415, -1)` ?

**Note**

The `round()` function uses a rounding rule called "round half to even", which means that if the digit to be rounded is exactly halfway between two possible values, the function rounds to the nearest even number.

In [ ]:
print(round(2.5))
print(round(3.5))

**Question**

What is the result of `round(12.45, 1)` ?

#### *Augmented Assignment Operators*

In Python, augmented assignment operators are shorthand operators that combine an arithmetic or bitwise operation with an assignment operation.

They allow you to perform an operation and assign the result to a variable in a single step.

In [ ]:
x = 3
x += 2    # equivalent to x = x + 2
print(x)  # Output: 5

### **None Type**
`None` is the only value of the `NoneType`.
+ `NoneType` can be used for missing values.
+ If a function does not have a `return` statement, the function will automatically return `None`.

In [ ]:
None is None

### **Bool**

Bool type has two values: `True, False`

`True and False` are objects. Type of `True, False` is `bool`. You can use `id(True), id(False)` to check their addresses.

In [ ]:
print(id(True))
print(id(False))

type(True)
# Output: bool

#### *Type conversion (casting)*

##### **Using `bool()` for expicit conversion.**   
    
**Truthy and Falsy.**
For basic data types:
+ We can use `bool()` to convert an object to a boolean object.
+ Empty `string` is evaluated as `False`
+ For numbers like `int, float`, zero is converted to `False`, other values are Truthy.
+ Empty `tuple, list, set, dict` are Falsey      
+ `None` object is Falsey.

In [ ]:
print(bool(""))
# Output: False

print(bool(" ")) # one space
# Output: True

#### *Comparison Operators*
In Python, comparison operators are used to compare two values and return a Boolean value (`True` or `False`) based on the comparison result.

+ `==` (equal to): returns `True` if the values on both sides of the operator are equal.
+ `!=` (not equal to): returns `True` if the values on either side of the operator are not equal.
+ `<` (less than): returns `True` if the value on the left side of the operator is less than the value on the right side.
+ `>` (greater than): returns `True` if the value on the left side of the operator is greater than the value on the right side.
+ `<=` (less than or equal to): returns `True` if the value on the left side of the operator is less than or equal to the value on the right side.
+ `>=` (greater than or equal to): returns `True` if the value on the left side of the operator is greater than or equal to the value on the right side.

In [ ]:
x = 5
y = 10

# Check if x is less than y
print(x < y)  # Output: True

# Check if x is equal to y
print(x == y)  # Output: False

# Check if x is not equal to y
print(x != y)  # Output: True

# Check if y is greater than or equal to x
print(y >= x)  # Output: True

##### **Equality vs Identity**

+ In Python the `==` operator checks for value equality, not object identity.
+ If you want to check whether two objects are the same object (i.e., they have the same memory address), you can use the `is` operator.

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
print(x == y)  # Output: True
print(x is y)  # Output: False
print(id(x))
print(id(y))

#### *Logical Operators*
In Python, logical operators are used to perform logical operations on Boolean values. There are three logical operators available in Python:

+ `and` - returns `True` if both operands are `True`, otherwise returns `False`.
+ `or` - returns `True` if at least one operand is `True`, otherwise returns `False`.
+ `not` - returns the opposite Boolean value of the operand. If the operand is `True`, it returns `False`, and if the operand is `False`, it returns `True`.

In [ ]:
x = 5
y = 10
z = 15

print(x < y and y < z)
print(x < y or x > z)
print(not (y == 10))

##### **Use `and`, `or` with non-boolean objects**

`obj1 and obj2` or `obj1 or obj2`, instead of returning `True` or `False`, will return the object that decides the boolean value of the expressions.

**Questions**
```
x = 38
y = ''
```
What is the value of `x and y`?

What is the value of `x or y`?

In [ ]:
x = 8
y = ''

### **Collections**
A collection object refers to any data structure that can hold multiple elements.
+ Sequence type
+ Mapping type

#### *Sequence Type*
Sequence contains an **ordred** collection of objects.
Examples:
+ string
+ list
+ tuple

##### **String**
A string object is an ordered **immutable** sequence of characters.

###### *Create A String*

In [ ]:
# Use ' or "
str_1 = 'data science'
str_2 = "statistics"
str_3 = "it's hard"

print(str_1, str_2, str_3, sep = '\n', end = '\n\n')
# Use ''' or """ to create multiline strings
mstr_1 = '''this is
a
  multiline string
'''

print(mstr_1)

# str_4 = 'it's hard' # SyntaxError: invalid syntax
# to include ' inside a string with single quotes,
# need to use the escape character, the backslash (\).
str_4 = 'it\'s hard'

print(str_4)

**Question**
How to create a string object that references the following sentence

`The sign read, "Please don't touch the 'Do Not Enter' button."`?

###### *Subset a String*

In [ ]:
string = "Hello, world!" #13 characters
# Use index. In Python, index starts with 0 not 1!
print(string[0])  # H
print(string[7])  # w

In [ ]:
string = "Hello, world!" #13 characters
# Use slice object
print(string[0:5])   # Hello
print(string[0:4:2])    # Hl
print(string[:5])    # Hello
print(string[-2:])   # d!

###### *Operators, Functions and Methods for String Objects*

Concatenate multiple strings

In [ ]:
str_1 = "You can "
str_2 = "subset a string "
str_3 = "using indexing and slicing."


str_123 = str_1 + str_2 + str_3
print(str_123)

Repeat a string multiple times

In [ ]:
str_1 = "Data"
print(str_1 * 3)

Split a string

In [ ]:
sentence = "I, like, Python"
words = sentence.split(",")
print(words)

Find the index of a substring

In [ ]:
# find() method
str_1 = "tennis"
print(str_1.find("is")) # 4. It returns the lowest index of the first match.
print(str_1.find("ball")) # -1.
print(str_1.find("n")) # 2. It returns the lowest index of the first match.

In [ ]:
# index() method
str_1 = "tennis"
print(str_1.index("n"))
#print(str_1.index("ball"))

Counts the number of occurrences of a character(or a substring) in the string

The `count()` method

In [ ]:
str_1 = 'one two three'
print(str_1.count('e'))
print(str_1.count('H'))
print(str_1.count('ee'))

Replace some or all occurrences of a substring by a new string.

In [ ]:
# replace() method
str_1 = "cat " * 4
print(str_1)

print(str_1.replace("cat", "dog"))
print(str_1.replace("cat", "dog", 3))

Case Conversion

In [ ]:
str_1 = "data sciEnCe"
print(str_1.lower())
print(str_1.upper())

print(str_1.swapcase())
print(str_1.title())
print(str_1.capitalize())

Remove character(s) from the beginning/end of a string.

In [ ]:
str_1 = " Hello world! \t \n"
print(str_1.strip())
print(str_1.rstrip())
print(str_1.lstrip())

**Question**

How to get string `"ell"` from string `"HHello"`?

Format string dynamically

In [ ]:
# Use f-string (Python 3.6 or later)
lang_1 = "R"
lang_2 = "Python"
version = 3.6
f"{lang_1} is easy to learn, so is {lang_2} {version}"

##### **List**
fixed length, **mutable**, heterogeneous sequence.

###### *Create a List*

In [ ]:
# Use []
list_1 = [1, 3.5, "string"]
print(list_1)

In [ ]:
# Using list(obj) to convert an iterable object to a list.
list_1 = list("string")
print(list_1)

Get the length of a list

In [ ]:
# Use len() function
list_1 = [1, 2, 3]
print(len(list_1))

**Question**

How many elements are in `list1`, where

`list1 = ["a", None, 2, 3.14]` ?

###### *Subset a List*
Access an element of a list

In [ ]:
list_1 = [1, 2, 3, 4, 5]
# Using [] with an single index:

print(list_1[0]) # 1 return a single object, not list
print(list_1[-2]) # 4 Negative index will be converted to a positive number using length of the list plus the index. So, in this example -2 will be converted to 5+ (-2) = 3

#list_1[10] # IndexError: list index out of range


We can also use `[]` with slice object to get a subset of a list.

###### *Slice Object*
    
* In Python, a slice object is used to define a range of elements to extract from a sequence, such as a string, list, or tuple.

* A slice object is created using the built-in `slice()` function, and it takes three arguments: start, stop, and step.

In [ ]:
my_list = [1,3,5,7,9,11,13]
my_slice = slice(2, 5, 2) # index 5 is exclusive !!
my_list_slice = my_list[my_slice]
print(my_list_slice)

In [ ]:
# You can also use shorthand notation to create a slice object:
my_list = [1,3,5,7,9,11,13]
my_list_slice = my_list[2:5:2]
print(my_list_slice)

###### *Operations on one list*

Append an element

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_1.append(6)
# in-place method, return None.
# Append 6 to the end of the sequence

print(list_1) # [1, 2, 3, 4, 5, 6]

Insert an element

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_1.insert(1, 'new')
# in-place method, return None.
# Insert a element at the given index.

print(list_1) # [1, 'new', 2, 3, 4, 5]

list_1.insert(10, 'new')
# [1, 'new', 2, 3, 4, 5, 'new']
# if index is outof bound on the right hand side, then append the element to the end.
print(list_1)

**Question**

Which one does `list_1` reference to

```
list_1 = [1, 2, 3, 4, 5]

list_1.insert(-1, 'aa')
```

a. `[-1, 1, 2, 3, 4, 5]`

b. `[1, 2, 3, 4, 'aa', 5]`

c. `[1, 2, 3, 4, 5, -1]`

d. `[1, 2, 3, 4, 5]`,
   as `list_1.insert(-1, 'aa')` is a wrong syntax.

Update one or more elements of a list

In [ ]:
my_list = [1,2,3,4,5,6]
my_list[1] = 20
print(my_list)

In [ ]:
my_list = [1,2,3,4,5,6]
my_list[2:4] = [400, 500]
print(my_list)

**Question**
what is the output of running the following statements?

```
my_list = [1,2,3,4,5,6]
my_list[1:3] = 200
```

**Question**

Can these statement run without generating errors?
```
my_list = [1,2,3,4,5,6]
my_list[2:4] = [400, 500, 600, 700]
print(my_list)
```

Remove an element from a list

In [ ]:
# Use del statement to delete one element
my_list = [1,2,5,3,5,6,7]
del my_list[2]
print(my_list)

In [ ]:
# Use del statement to delete multiple elements.
my_list = [1,2,5,3,5,6,7]
del my_list[3:5]
print(my_list)

In [ ]:
# Use remove method
my_list = [1,2,5,3,5,6,7]
print(my_list.remove(5))
print(my_list) # Remove first occurrence of value.

# my_list.remove(100) # ValueError: list.remove(x): x not in list

In [ ]:
# Use pop method
my_list = [1,2,5,3,5,6,7]
print(my_list.pop())
print(my_list)

print(my_list.pop(2))
print(my_list)

**Question**
What value does `my_list` hold after running the following statements?
```
my_list = [1,2,5,3,5,6,7]
my_list.pop(20)
```

Remove all the elements of a list:

In [ ]:
# clear() method removes all elements from the list.
my_list = [1, 2, 3]
my_list.clear()
print(my_list)  # Output: []

Membership checking

In [ ]:
list_1 = [1,2,3]
print(1 in list_1)
print(11 not in list_1)

Find the index value of a given object in the list (or subset of the list).

In [ ]:
## Using index() method.
## li.index(x[, i[, j]]) index of the first
## occurrence of x in list li (at or after index i and before index j)

my_list = [4, 5, 6, 5, 7, 8, 7]
print(my_list.index(5)) # 1

In [ ]:
my_list = [4, 5, 6, 5, 7, 8, 7]

print(my_list.index(5, 2)) # 3

**Question**
what is the output of the following statements.
```
my_list = [4, 5, 6, 5, 7, 8, 7]
print(my_list.index(5, 4, 6))
```

Count frequency of elements in a list

In [ ]:
## Using count method
my_list = (1, 2, 2, 2, 3, 4, 2)
print(my_list.count(2)) # 4
print(my_list.count(20)) # 0

Replicate a list multiple times

In [ ]:
## Using * operator
['hello', 'world'] * 3 # ['hello', 'world', 'hello', 'world', 'hello', 'world']

Sort a list

In [ ]:
# Use sort() method to sort and modifies the list in-place
numbers = [4, 2, 7, 1, 3]
numbers.sort()
print(numbers)

numbers = [4, 2, 7, 1, 3]
numbers.sort(reverse = True) # sort in descending order
print(numbers)

In [ ]:
# Usa s function to sort
strings = ["dog", "rabbit", "horse", "cat", "dragon"]
strings.sort(key = len) # Using len() function
print(strings) # sort is stable, which means the order of two equal elements is maintained.

###### *Operations on two or more lists*

Combine two lists

In [ ]:
# "+" operator
list_1 = [1,2,3,4]
list_2 = [5,6,7]
print(list_1 + list_2 + list_1)

In [ ]:
# extend() method
# adds multiple elements to the end of a list.
# It takes an iterable (e.g., list, tuple, set, string, etc.) as an argument
# modifies the original list in-place.
list_1 = [1,2,3,4]
list_2 = [5,6,7]
print(list_1.extend(list_2))
print(list_1)

Combine a list of strings into one string

In [ ]:
# Use string method join()
list_strings = ["abc", "def", "gh"]
",".join(list_strings)

###### *List Unpacking*

Multiple assignments

In [ ]:
## assign a list to several variables
my_list = [1,2,3]
a, b, c = my_list # equivalent to a,b,c = 1,2,3
print(a) #1

**Question**
What is the value of `c`
```
my_list = [1, 2, [3,4]]
a,b, c, d = my_list
```
a. `3`

b. `4`

c. `[3, 4]`

d. `name 'c' is not defined`

Swap values of two variable

In [ ]:
## swap values of two variable using upacking
a, b = [1, 2]
b, a = [a, b] # righ hand evaluaed first, than assign to the left hand.
print(a, b) # 2 1

##### **Tuple**

Important characteristics:
  * Fixed length, **immutable** sequence.
  * Elements can be of different types.

###### *Create a tuple*
  
Creat a tuple
  + `tup = 1, 2, 3` # called tuple packing
  + `tup = (1, 2, 3)`
  + `tup = tuple([4, 0, 2])`
    * using tuple constructor (`tuple()`) to convert any sequence type of iterator to a tuple.
    * `tup = tuple('str') # ('s', 't', 'r')`. string type is a sequence type.
    
  + `tup = (5, )` you need this format to create a tuple with single element.
  + each member of the tuple could be of different types. `(1, 4.5, 'hello')`

###### *Subset a Tuple*
Access one or more elements in a tuple
Using `[]`, Python will call `__getitem__()` method of the object.

In [ ]:
tup = tuple('hello')

# Using [] with a single index. index starts from 0 not 1.
print(tup[1]) # 'e'
print(tup[-1]) # 'o'. Negative index will be converted to a positive number using lenght of the tuple plus the index. So, in this example -1 will be converted to 5+ (-1) = 4

#tup[10] # IndexError: tuple index out of range
#tup[2, 4] # TypeError: tuple indices must be integers or slices, not tuple

# Using slice object
print(tup[slice(0, 3)] )# ('h', 'e', 'l')

print(tup[slice(0, 5, 2)] )# ('h', 'l', 'o')

print(tup[0:5:2]) # same as above ('h', 'l', 'o')

You can not modify a tuple in the way of adding, reassigning or deleting a element of a tuple, as it is **immutable**.

In [ ]:
# tup[1] = 't' # TypeError: 'tuple' object does not support item assignment
# del tup[1] # TypeError: 'tuple' object doesn't support item deletion

**But**, if one element of a tuple is mutable, you can modify the element in-place.

In [ ]:
tup = (10, [3,4,5], 'end')
tup[1].append(6)
tup # (10, [3, 4, 5, 6], 'end')

###### *Operations on one or more tuples*
Length of the tuple

In [ ]:
tup = (1,2,3)
len(tup) # 3 or tup.__len__()

Check whether an object is in the given tuple

In [ ]:
## Membership or contains
tup = (1, 2, 3)
print(1 in tup) # True
print(2 not in tup) # False

Find the index value of a given object in the tuple (or subset of the tuple).

In [ ]:
## Using index() method.
## s.index(x[, i[, j]]) index of the first
## occurrence of x in tuple s (at or after index i and before index j)

tup = (4, 5, 6, 5, 7, 8, 7)
print(tup.index(5)) # 1
print(tup.index(5, 2)) # 3
# tup.index(20) # ValueError: tuple.index(x): x not in tuple

# tup.index(7, , 5) # SyntaxError: invalid syntax

Count frequency of elements in a tuple

In [ ]:
## Using count method
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2) # 4
a.count(20) # 0

Replicate a tuple multiple times

In [ ]:
## Using * operator
('hello', 'world') * 3 # ('hello', 'world', 'hello', 'world', 'hello', 'world')

Concatenating two or more tuples using

In [ ]:
## Using + operator
(1, 2, 3) + (4, 5) # (1, 2, 3, 4, 5)

Combine a tuple of strings into one string

In [ ]:
tup_strings = ("abc", "def", "gh")
":".join(tup_strings)

###### *Tuple Unpacking*   
  
Multiple assignments

In [ ]:
## assign a tuple to several variables
tup = (1,2,3)
a, b, c = tup # equivalent to a,b,c = 1,2,3
print(a) #1


tup = (1, 2, (3,4))
a,b, (c, d) = tup
print(d) #4

# d, e = tup # ValueError: too many values to unpack (expected 2)

Swap values of two variable

In [ ]:
## swap values of two variable using upacking
a, b = 1, 2
b, a = a, b # righ hand evaluaed first, than assign to the left hand.
a, b # (2, 1)

#### *Mapping Type (Association Array)*
A collection of keys and associated values. (order doesn't matter)

##### **Dictionary**

In Python, a dictionary is a collection of key-value pairs.
+ It is also sometimes called a hash table or an associative array.
+ Dictionaries are represented using curly braces `{}` and each key-value pair is separated by a colon `:`.
+ Each key in a dictionary is unique.
+ Constant time complexity for basic operations such as adding, removing, and checking for membership.

In [ ]:
my_dict = {"apple": 1, "banana": 2, "orange": 3}
print(my_dict)

A dictionary's keys can only be hashable objects

**Hashable Object**

+ If an object has a hash value that remains the same throughout its lifetime
+ The hash value can be compared to other objects for equality.
+ The hash value is a unique integer that is used to look up an object in a hash table.
+ Hashable objects in Python include:
Immutable data types such as numbers, strings, and tuples.

###### *Dictionary Funtions/Methods*
***Creat a dictionary***

In [ ]:
# Use "{}"
my_dict = {"apple": 1, "banana": 2, "orange": 3}
print(my_dict)

my_dict = {}
print(my_dict)

# dict() constructor
my_dict = dict(apple = 1, banana = 2, orange = 3)
print(my_dict)

my_list = [('apple', 1), ('banana', 2), ('orange', 3), ('banana', 25)]
my_dict = dict(my_list)
print(my_dict)

my_list = [['apple', 1], ('banana', 2), ('orange', 3), ('banana', 25)]
my_dict = dict(my_list)
print(my_dict)

**Question**

Is this a legitimate dictionary object?
```
{1.234: '5', ["a"]: 56}
```

***Length of a dictionary***

In [ ]:
my_dict = {"apple": 1, "banana": 2, "orange": 3}
len(my_dict)

***Check if a given key exists in a dictionary***

In [ ]:
# Use "in" operator
my_dict = {"apple": 1, "banana": 2, "orange": 3}
print("apple" in my_dict)

**Question**
What is the output of the following statements?
```
my_dict = {"apple": 1, "banana": 2, "orange": 3}
print(2 in my_dict)
```
a. `"banana"`

b. `True`

c. `False`

d. `None of the above`

***Fetch an item in a dictionary***

In [ ]:
# Use [] with key
my_dict = {"apple": 1, "banana": 2, "orange": 3}
print(my_dict["banana"])

#my_dict["grape"] # KeyError: 'grape'

In [ ]:
# Use get() method
my_dict = {"apple": 1, "banana": 2, "orange": 3}
print(my_dict.get("banana"))
print(my_dict.get("grape")) # If the key is not present, it returns the default value (if provided) or None.

#print(my_dict.get("grape", -1))

***Modify an item or add a new item***

In [ ]:
# Use assignment operator =
my_dict = {"apple": 1, "banana": 2, "orange": 3}
my_dict["apple"] = 10
print(my_dict)

my_dict["peach"] = 20
print(my_dict)

***Delete an item***

In [ ]:
# Use "del" statement
my_dict = {"apple": 1, "banana": 2, "orange": 3, "peach": 4, "pear": 5}
del my_dict["orange"]
print(my_dict)

**Question**
What is the output of the following statements?
```
my_dict = {"apple": 1, "banana": 2, "orange": 3, "peach": 4, "pear": 5}
del my_dict["lettuce"]
```
a. `None`

b. 6

c. `KeyError: 'lettuce'`

d. 5

In [ ]:
# Use pop method
my_dict = {"apple": 1, "banana": 2, "orange": 3, "peach": 4, "pear": 5}
result = my_dict.pop("apple")
print(result)
print(my_dict)

In [ ]:
my_dict = {"apple": 1, "banana": 2, "orange": 3, "peach": 4, "pear": 5}
#result = my_dict.pop("lettuce") #KeyError: 'lettuce'
result = my_dict.pop("lettuce", -1)
print(result)
print(my_dict)

In [ ]:
# Use popitem method
my_dict = {"apple": 1, "banana": 2, "orange": 3, "peach": 4, "pear": 5}
print(my_dict.popitem())
print(my_dict)

***Convert a dictionay to a list***

In [ ]:
my_dict = {"apple": 1, "banana": 2, "orange": 3, "peach": 4, "pear": 5}

# items() method
print(list(my_dict.items()))

# keys() method
print(list(my_dict.keys()))

# values() method
print(list(my_dict.values()))

***Combine two dictionaris***

In [ ]:
my_dict1 = {"apple": 1, "banana": 2, "orange": 3}
my_dict2 = { "banana": 25, "peach": 4, "pear": 5}

# update() method
print(my_dict1.update(my_dict2))
print(my_dict1)
print(my_dict2)

##### **Set**

In Python, a set is an **unordered** collection of **unique** elements.

###### *Set Functions/Methods*

***Create a set***

In [ ]:
my_set = {1, 2, 3}
print(my_set)  # Output: {1, 2, 3}

In [ ]:
# Creating a set from a list
my_list = [1, 2, 2, 3, 3, 3]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3}

**Question**

How to creat an empty set?

a. `{}`

b. `set()`

c. `()`

d. `[]`

***Add an element to the set.***

In [ ]:
# add() method
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

***Adds elements from an iterable (e.g. list, set, tuple) to the set.***

In [ ]:
my_set = {1, 2, 3}
my_set.update([3, 4, 5])
print(my_set)  # Output: {1, 2, 3, 4, 5}
my_set.add((7, 8))
print(my_set)


***Removes an element from the set.***

In [ ]:
# remove() method
my_set = {1, 2, 3}
print(my_set.remove(2))
print(my_set)  # Output: {1, 3}

In [ ]:
try:
    my_set.remove(4) # KeyError: 4
except Exception as e_msg:
    print(repr(e_msg))

In [ ]:
# discard() method
my_set = {1, 2, 3}
print(my_set.discard(2))
print(my_set)  # Output: {1, 3}
my_set.discard(4) # Does not raise an error if the element is not found.
print(my_set)  # Output: {1, 3}

In [ ]:
# pop() method removes and returns an arbitrary element from the set.
my_set = {1, 2, 3}
elem = my_set.pop()
print(elem)
print(my_set)

In [ ]:
# clear() method removes all elements from the set.
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

Sets support various operations such as union, intersection, difference, and symmetric difference.

In [ ]:
# Union of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)
print(set1)
print(union)  # Output: {1, 2, 3, 4, 5}

In [ ]:
# Intersection of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection = set1.intersection(set2)
print(set1)
print(intersection)  # Output: {3}

In [ ]:
# Difference of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference = set1.difference(set2)
print(set1)
print(difference)  # Output: {1, 2}

In [ ]:
# Symmetric difference of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference = set1.symmetric_difference(set2)
print(set1)
print(symmetric_difference)  # Output: {1, 2, 4, 5}

#### **Iterable and Iterator**
*Iterable*
+ In Python, an iterable is any object that can be looped over.
+ Examples of iterables include lists, tuples, sets, dictionaries, and strings.
+ An iterable is defined by implementing the `__iter__()` method, which returns an iterator object.

*Iterator*
+ An iterator is an object that produces the next value in an iterable sequence.
+ In Python, an iterator is defined by implementing the `__next__()` method, which returns the next value in the sequence.
+ When there are no more values to return, the `__next__()` method raises the `StopIteration` exception.
+ An iterator can only be iterated once

In [ ]:
numbers = [1, 2, 3]
iterator = iter(numbers)

print(next(iterator))
print(next(iterator))
print(next(iterator))

try:
    next(iterator)
except Exception as e_msg:
    print(repr(e_msg))
# next(iterator)

list(iterator)