<a href="https://colab.research.google.com/github/statrliu/data_bootcamp_part1/blob/main/introduction_to_Pandas_lectures_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

Pandas is an open-source data analysis and manipulation library for the Python programming language.

* Pandas is an "in-memory" (data must be loaded in memory first) data analysis tool.
* Pandas provides a variety of functions and methods for data manipulation, including indexing, merging, grouping, filtering, and reshaping data.

* It can handle missing data, time-series data, and text data, and provides support for data aggregation and statistical analysis.

Pandas is widely used in data analysis, finance, social sciences, and many other fields, and has become an essential tool for data professionals and researchers using Python.

Some of the key features of Pandas include:

* DataFrame: A two-dimensional table-like data structure, similar to a spreadsheet or SQL table.
* Series: A one-dimensional labeled array that can hold data of any type, including integers, floats, strings, and objects.
* Data cleaning: Provides functions for handling missing data, dropping duplicates, and filtering data.
* Data aggregation: Supports grouping, pivoting, and reshaping data for aggregation and analysis.
* Data input/output: Ability to read and write data in a variety of formats, including CSV, Excel, SQL databases, and JSON.
* Data visualization: Provides support for data visualization through integration with Matplotlib.

In [ ]:
import pandas as pd
pd.__version__

# **Series**

A Pandas Series is a one-dimensional labeled array that can hold data of any type, including integers, floats, strings, and objects.

It is similar to a column in a spreadsheet or a column in a SQL table.

Each element in a Series is assigned a **label** or **index** that can be used to access the value of that element.

Besides index label, we can also use positions (starting from 0) to select elements in an series.

## *Creating Series*

### **Using Python List/Tuple**

In [ ]:
import pandas as pd

ages = pd.Series([22, 35, 58], name = "Age")
print(ages)

In [ ]:
data = [1, 3, 5, 7, 9]
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data, index=index)
print(s)

Question:
Will the following statements genereate an error?
```
data = (1, 3, 5, 7)
index = ("a", "b", "a", "b")
print(pd.Series(data, index = index))
```

### **Using Python Dictionary**

In [ ]:
py_dict = {"a":1, "b":2, "c":3}
se_dict = pd.Series(py_dict)
print(se_dict)

### **Using Numpy 1-d Array**

In [ ]:
import numpy as np
np_arr = np.array([3,7,10])
obj_np = pd.Series(np_arr)
print(obj_np)

### **`Series` can store mixed types of data.**
This is not recommented in Pandas. It'll make the Series object slow.

In [ ]:
mixed_s = pd.Series([23, "a", 45.6, (1,2,3), {"a": 10, "b": "book"}])
mixed_s

## *Investigating Basic Series Attributes*
Series objects have a number of built-in attributes that provide information about the Series, such as its `size`, `shape`, and `dtype`

In [ ]:
se_num = pd.Series([2,5,10,24], index = ["a", "b", "c", "d"], name = "numbers")
print(se_num)

### **Size and Shape**

In [ ]:
print(se_num.size)
print(se_num.shape)

### **Dtype**

https://pandas.pydata.org/pandas-docs/version/1.5/user_guide/basics.html

In [ ]:
print(se_num.dtype)

### **Index**

In [ ]:
print(se_num.index)

### **Array**

In [ ]:
print(se_num.array)

Question:
How to convert `se_num.array` to a list?

### **Name**

In [ ]:
print(se_num.name)

## *Subsetting a Series*

### **Indexing a Series**

Like other data structures in pandas, Series objects can be indexed by label or position.

**Positional-based indexing (implicit indexing)** is used to retrieve data based on its position.  

In Pandas, you can use the `iloc` indexer to access data using positional-based indexing.

**Label-based indexing (explicit indexing)**, on the other hand, is used to retrieve data based on labels or names.

In Pandas, you can use the `loc` indexer to access data using label-based indexing.

#### *Indexing with `.iloc[]`*

##### **Selecting Single Item**

In [ ]:
## Selecting a single element based on position:
s = pd.Series([10, 20, 30, 40, 50])
print(s.iloc[2])

Question:
What is the output of the following statements?
```
s = pd.Series([10, 20, 30, 40, 50])
print(s.iloc(-2))
```
a. `-2`

b. `40`

c. `30`

d. `20`

e. None of the above

##### **Slicing**
Using slice object or `:` to get a subset of a Series object.

In [ ]:
s = pd.Series([10, 20, 30, 40, 50])
print(s.iloc[1:4:2])

##### **Selecting Element(s) using List of Position(s)**

In [ ]:
## Selecting element(s) based on a list of position(s):
print(s.iloc[[0, 2, 4]])

Question:
What is the type of the varible `var`?
```
s = pd.Series([1,2,3,4,5])
var = s.iloc[[0]]
```
a. `int`

b. `float`

c. `list`

d. `Series`

##### **Selecting with a Boolean Condition**

The boolean mask must have the same length as the Series you are indexing.

In [ ]:
## Selecting elements based on a Boolean list
s = pd.Series([10, 20, 30, 40, 50])
mask = [True, False, True, False, True]
print(s.iloc[mask])

#### *Indexing with `.loc[]`*

##### **Selecting Single Item**

In [ ]:
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

## Selecting a single element based on label
print(s.loc['c'])
# s.loc['f'] # KeyError: 'f'

Question:
What is the output of the following statements?
```
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

print(s.loc['f'])
```

a. `10`

b. `'f'`

c. `-1`

d. None of the above

##### **Slicing**

In [ ]:
## Selecting a slice of elements based on labels
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(s.loc['b':'d'])
# In label-based slicing, the stop value is inclusive!

Question:
What is the output of the following statements?
```
s = pd.Series([10, 20, 30, 40, 50, 60, 70], index=['a', 'b', 'c', 'd', 'e', "f", "d"])

print(list(s.loc['b':'d']))
```

a. `[20, 30]`

b. `[20, 30, 40]`

c. `'KeyError'`

d. `[20, 30, 40, 50, 60, 70]`

##### **Selecting Element(s) using List of Position(s)**

In [ ]:
## Selecting elements based on a list of labels
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'c', 'b', 'd', 'e'])
print(s.loc[['a', 'c', 'e']])

##### **Selecting with a Boolean Condition**

In [ ]:
## Selecting elements based on a Boolean Series object
## Pandas will match labels first, then select the matched values.
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

print(s>30, end = '\n\n')
print(s.loc[s > 30])

Question:
What is the output of the following statements?

```
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

bool_idx = pd.Series([True, False, False, True], index = ['b', 'c', 'a', 'd'])

print(list(s.loc[bool_idx]))
```

a. `[10, 40]`

b. `[20, 30]`

c. `[20, 40]`

c. `40`

What is the output of the following statements?

```
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

bool_idx = pd.Series([True, False, False, True], index = ['b', 'c', 'a', 'd'])

print(list(s.iloc[bool_idx]))
```

a. `[10, 40]`

b. `[20, 30]`

c. `[20, 40]`

c. `ValueError`

#### *Indexing with `[]`*
`[]` can be used for both position-based or label-based indexing. Python will automatically decides which one to use.

In [ ]:
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

print(s[1])
print(s["c":"e"])
## Also support boolean indexing
print(s[s>30])

Question:

What is the output of the following statements?
```
s = pd.Series([10, 20, 30, 40, 50], index=[2, 3, 4, 1, 0])

print(s[0])
```

a. `0`

b. `10`

c. `50`

d. `ValueError`

In [ ]:
s = pd.Series([10, 20, 30, 40, 50], index=[2, 3, 4, 1, 0])

print(s[0])

Question:

What is the output of the following statements?

```
s = pd.Series([10, 20, 30, 40, 50], index=[2, 3, 4, 1, 0])

print(list(s[1:3]))
```

a. `ValueError`

b. `KeyError`

c. `[20, 30, 40]`

d. `[10, 20, 40]`

e. `[20, 30]`

## *Update Values in a Series*

### **Using iloc, loc, or []**

You can use `.iloc[], .loc[]` or `[]` on the left hand of the assignment statement to change values of elements in a Series.

####*Update one element*####

In [ ]:
## .iloc
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s.iloc[0] = 100
#s[0] = 101 # Or: s.iloc[0] = 101, s.loc['a'] = 101
print(s)
# s.iloc[100] # IndexError: single positional indexer is out-of-bounds

In [ ]:
## .loc
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s.loc["a"] = 100
print(s)

s.loc[0] = 1000 # This will add a new element with label 0 and value 1000
print(s)

In [ ]:
# []
#Pandas will first try to match lables, if not find, then try to match positions
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s[0] = 100
print(s)

s["a"] = 1000
print(s)

Question:

what is result of the following statements?
```
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

s.loc[0] = 1000
print(list(s))
```

a. `KeyError`

b. `[0, 10, 20, 30]`

c. `ValueError`

d. `[10, 20, 30, 1000]`

####*Update a slice*####

In [ ]:
# iloc
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s.iloc[1:3] = 1
s.iloc[3:5] = [201, 301]
print(s)

In [ ]:
# .loc
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s.loc["a":"b"] = 23
s.loc["c":"d"] = [401, 501]
print(s)

In [ ]:
# []
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s[1:3] = 1
s[3:5] = [100, 200]
print(s)

s["a":"b"] = 203 #[101, 201]
print(s)

####*Update a subset*####

In [ ]:
# .iloc
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s.iloc[[0,2,3]] = 1 # or [101, 202, 303]
print(s)

In [ ]:
# .loc
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s.loc[["d", "c", "a"]] = 1 # or [101, 202, 303]
print(s)
# s.loc[[0,2,3]] = [101, 202, 303] # KeyError: "None of [Int64Index([0, 2, 3],
# dtype='int64')] are in the [index]"

In [ ]:
# []
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s[["b", "e", "a"]] = 1 # or [101, 202, 303]
print(s)

s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s[[0, 2, 3]] = 1 #or [101, 202, 303]
print(s)

### **Using Update Method**
Like Python dictionary, we can also use `update` method to to update the values of one series with the values of another series having the same index.

In [ ]:
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6], index=['a', 'b1', 'c'])

# updating s1 with s2
s1.update(s2)

print(s1)

## Add element(s) to a Series

### **Add a Label**

In [ ]:
s = pd.Series([1,2,3,4], index = list("abcd"))
print(s)

s["e"] = 5
s.loc["f"] = 6
print(s)

Question:

What is the output of the following statements?

```
s = pd.Series([1,2,3,4], index = list("abcd"))
s.iloc[4] = 7
print(list(s))
```

a. `[1, 2, 3, 4]`

b. `[1, 2, 3, 7]`

c. `[1, 2, 3, 4, 7]`

c. None of the above

### **Append and Concat**

In [ ]:
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])
#print(s1)
#print(s2)

print(s1.append(s2))
#print(pd.concat([s1, s2]))

In [ ]:
#print(s1.append(s2, ignore_index = True))
print(pd.concat([s1, s2, s1], ignore_index= True))

## *Sort a Series*

### **Sort_values Method**

In [ ]:
s = pd.Series([3, 1, 4, 1, 5, 9, 2, 6, 5])

# sort the values in ascending order
s_sorted = s.sort_values()
print(s_sorted)

In [ ]:
# sort the values in descending order
s_sorted_desc = s.sort_values(ascending=False)
print(s_sorted_desc)

In [ ]:
# sort in place
s.sort_values(inplace = True)
print(s)

In [ ]:
# sort the values in descending order and place null values at the beginning
s = pd.Series([3, 1, -4, None, -5, 9, 2, 6, 5])
s_sorted = s.sort_values(ascending=False, na_position='first')
print(s_sorted)

In [ ]:
# sort the values in ascending order, reset the index, and use the absolute value as the sorting key
s = pd.Series([3, 1, -4, None, -5, 9, 2, 6, 5])
s_sorted_abs = s.sort_values(ascending=True, ignore_index=True, key=abs)
print(s_sorted_abs)

### **Sort_index Method**

In [ ]:
s = pd.Series([3, 1, 4, -1, 5, 9, 2, 6, 15], index=['c', 'a', 'd', 'a', 'e', 'i', 'b', 'f', 'e'])

# sort the index in ascending order
s_sorted_index = s.sort_index()
print(s_sorted_index)

# sort the index in descending order
s_sorted_index_desc = s.sort_index(ascending=False)
print(s_sorted_index_desc)

## *Unique and Duplicated Values in a Series*

### **Find Unique Values**

In [ ]:
import numpy as np
s = pd.Series([1, 2, 3, 4, None, 4, 4, 5,  5, 6, np.nan]) # None, pd.NA,

# find unique values
unique_values = s.unique()
print(unique_values)
#print(s.dtype)
print(s, end = '\n\n')

In [ ]:
s = pd.Series([1, 2, 3, 4, None, 4, 4, pd.NA, 5,  5, 6, np.nan]) # None, pd.NA,

# find unique values
unique_values = s.unique()
print(unique_values)
print(s.dtype)
print(s, end = '\n\n')

In [ ]:
s = pd.Series([1, 2, 3, 4, None, 4, 4, pd.NA, 5,  5, 6, np.nan])
# number of unique values excluding missing values
print(s.nunique())
# number of unique values
print(s.nunique(dropna = False))

### **Find Duplicated Values**

In [ ]:
## duplicated(): Returns a boolean Series indicating which values are
## duplicated.
## By default, the method considers the first occurrence of a value as not
## duplicated, and all subsequent occurrences as duplicated.

s = pd.Series([1, 2, 4, 4, 5, 6, 6])
print(s, end = '\n\n')
# check for duplicated values
duplicates = s.duplicated()
print(duplicates)

#print(s.duplicated(keep='first'))
#print(s.duplicated(keep='last'))
#print(s.duplicated(keep=False))

### **Drop Duplicated Values**

In [ ]:
s = pd.Series([1, 2, 4, 4, 5, 6, 6])
print(s)
# drop duplicated values
unique_values = s.drop_duplicates()

print(unique_values)
#print(s.drop_duplicates(keep = "last"))
#print(s.drop_duplicates(keep = "first"))
#print(s.drop_duplicates(keep = False))

## *Missing Values in a Series*

### **Find Missing Values**

In [ ]:
import pandas as pd
import numpy as np

my_series = pd.Series([1, 2, pd.NA, None, np.nan, 4]) # None, pd.NA
## The hasnans attribute in Pandas Series returns a boolean value indicating whether there are any missing values (NaN) in the Series.

print(my_series.hasnans)

In [ ]:
# isna(), isnull() returns a boolean mask indicating which values in the Series
# are missing (NaN).
my_series = pd.Series([1, 2, pd.NA, None, np.nan, 4]) # None, pd.NA
print(my_series.isnull())

In [ ]:
# notna(), notnull() returns a boolean mask indicating which values in the
# Series are not missing (not NaN).
my_series = pd.Series([1, 2, pd.NA, None, np.nan, 4]) # None, pd.NA
print(my_series.notnull())

### **Drop Missing Values**

In [ ]:
## The dropna() method in Pandas Series is used to remove any missing values
## from a Series object.
## dropna() also has inplace parameter, default is False.

my_series = pd.Series([1, None, 2, np.nan, 4, pd.NA])

clean_series = my_series.dropna()

print(clean_series)

### **Fill in Missing Values**
1. The `fillna()` method in Pandas Series is used to fill in missing values (`NaN`) with a specified value or method.
2. The `interpolate` method is used to fill missing or NaN values in a DataFrame or Series with interpolated values.

  * Linear Interpolation - Fills missing values using a linear function that connects the two nearest known values.

  * Polynomial Interpolation - Fills missing values using a polynomial function of the specified degree that connects the nearest known values.

  * Spline Interpolation - Fills missing values using a piecewise polynomial function that smoothly connects the nearest known values.

#### *Fill NA with a Single Value*

In [ ]:
# create a Series with some NaN values
s = pd.Series([None, 1, 2, np.nan, None,4, np.nan,5, np.nan, np.nan])

print(s.fillna(-1))

#### *Forward Fill and Backward Fill*

In [ ]:
s = pd.Series([None, 1, 2, np.nan, None,4, np.nan,5, np.nan, np.nan])
print(s, "\n\n")
# fill in the NaN values with the mean of the Series
print(s.fillna(method = "ffill"))
#print(s.fillna(method = "bfill"))

## *Operations on Series*

### **Arithmetic operations**
+ Arithmetic operators: `+, -, *, /, //, %, **`
+ Arithmetic methods: `add, sub, mul, div, floordiv, mod, pow`

In [ ]:
# broadcast
s1 = pd.Series([10, 20, 30, 40, 50])
print(s1 + 3)

In [ ]:
# element wise operation, matched by index labels.
s1 = pd.Series([10, 20, 30, 40, 50])
s2 = pd.Series([2, 3, 4, 5, 6], index = [1,2,3,4,5])
print(s1)
print(s2, end = '\n\n')

print(s1 + s2)

In [ ]:
## add method
s1 = pd.Series([None, 10, 20, None, 40, 50])
s2 = pd.Series([2, 3, 4, 5, 6, 7], index = [1,2,3,4,5, 6])

print(s1)
print(s2, "\n\n")
print(s1.add(s2, fill_value = 0))

### **Summary and Aggregation**

#### *Value_counts Method (generating frequency table)*

In [ ]:
import pandas as pd

# create a sample Series
s = pd.Series(['apple', 'banana', 'banana', None, 'orange', None, 'apple', 'banana'])

# count the number of occurrences of each unique value
value_counts = s.value_counts()

print(s.value_counts(sort = False, dropna = False, normalize = True))

#### *Other Summary Statistics*
Here are some of the most commonly used functions in pandas Series:

* `sum()`: calculates the sum of all values in the Series.
* `mean()`: calculates the arithmetic mean of all values in the Series.
* `median()`: calculates the median of all values in the Series.
* `min()`: returns the minimum value in the Series.
* `max()`: returns the maximum value in the Series.
* `count()`: returns the number of non-null values in the Series.
* `std()`: calculates the standard deviation of all values in the Series.
* `var()`: calculates the variance of all values in the Series.

All of these functions have `skipna` parameter, by default NaN values will be dropped.

In [ ]:
# create a sample Series
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, None])

# calculate some basic statistics using aggregation functions
print(s.sum())
print(s.mean(skipna = False))
print(s.median())
print(s.min())
print(s.max())
print(s.count())
print(s.std())
print(s.var())

#### *Agg() Method*
The `agg()` method in pandas Series allows you to apply one or more aggregation functions to the values in a Series. It is similar to the aggregation functions we discussed earlier, but it allows you to apply multiple functions at once and specify their names as well.

In [ ]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# apply multiple aggregation functions using the agg() method
result = s.agg([sum, 'mean', 'min', 'max', 'count'])

print(result)
#'mean' in dir(s)

In [ ]:
# User defined agg functions
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

def calculate_range(ser):
    return ser.max() - ser.min()

print(s.agg(calculate_range))

In [ ]:
# User defined function with parameters
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

def fcn(ser, pow=2):
    return ser ** pow
print(s.agg(fcn, 0, 3))

### **Element-wise Methods**

#### *Comparison Operations*

In [ ]:
## >, >=, <, <=, ==, !=
s = pd.Series([1, 2, 3, 4, 5])
print(s > 3)

Question:
What is the output of the following statements?
```
s1 = pd.Series([1,2,3])
s2 = pd.Series([0,1,2], index = [1,2,3])
print(list(s1 > s2))
```

a. `True`

b. `[True, True, True]`

c. `[False, False, False]`

d. `[NaN, False, False]`

e. None of the above

Questions:
What are the results of the following statements.
```
print(False == None)
print(False == pd.NA)
print(False == np.nan)
```

In [ ]:
## isin()
s = pd.Series(['apple', 'banana', 'orange', 'pear', 'mango'])
print(s.isin(['banana', 'mango', 'kiwi']))

Question:

What is the output of the following statements?
```
s = pd.Series(['apple', 'banana', 'orange', 'pear', 'mango'])
print('apple' in s)
```

a. `True`

b. `False`

c. `NaN`

c. None of the above

In [ ]:
# between method
s = pd.Series([1, 2, 3, 4, 5])
print(s.between(2, 4))
# print(s.between(2,4, inclusive = "neither"))

#### *Where Method*
The `where()` method is used to replace values in a Series that do not satisfy a certain condition with a specified value.

It takes two arguments: `cond` and `other`, which specify the condition to be applied and the value to replace the elements that do not satisfy the condition, respectively.

In [ ]:
s = pd.Series([1, 2, 3, 4, 5])
print(s.where(s <= 3, other=3))

#### *Map Method*
The `map()` method in Pandas is used to apply a function to each element of a Series. It takes a function or a dictionary as an argument and applies it to each element of the Series.

In [68]:
s = pd.Series([1, 2, 3, 4, 5])
print(s.map(lambda x: x ** 2))

0     1
1     4
2     9
3    16
4    25
dtype: int64

Question:

What is the output of the following statements?

```
s = pd.Series(['dog', 'cat', 'dog', 'cat', 'bird'])
print(list(s.map({'dog': 'big_dog', 'cat': 'small_cat'})))
```

a. `['big_dog', 'small_cat', 'big_dog', 'small_cat']`

b. `['big_dog', 'small_cat', 'big_dog', 'small_cat', nan]`

c. `['big_dog', 'small_cat', 'big_dog', 'small_cat', 'bird']`

d. None of the above

#### *Apply Method*
The `apply()` method in Pandas is used to apply a function to each element of a Series. It takes a function as an argument and applies it to each element of the Series.

In [ ]:
def add_prefix(x, prefix):
    return prefix + str(x)

# Create a Series of integers
s = pd.Series([1, 2, 3, 4, 5])

# Apply the add_prefix function to each element of the Series, with the prefix 'num'
result = s.apply(add_prefix, args = ("num",))

# Print the original Series and the new Series with prefixes
print(s, end = "\n\n")
print(result)